@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
//@import 'font-awesome';
@import 'fonts';

@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-classes;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
//@include foundation-accordion-menu;
@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/***************
** ANIMATIONS **
****************/


/******************
** COOKIE BANNER **
*******************/

.cookie-banner{position:fixed;backface-visibility:hidden;bottom:0;margin:0;width:100%}

.cookie-layer{
    width: 100%;
    padding: 35px 35px 5px 20px;
    margin-bottom: 0;

    background-color: $grey-back;
    color: $blue-dark;
    border-radius: 0;
    z-index: 1000;

    p{
        width: 95%;
        font-weight: 300;
        font-size: rem-calc(14);
        line-height: rem-calc(20);

        a{
            color: $blue-light;
        }
    }

    .close-button{
        color: $blue-dark;
        font-size: 1.5rem;
        top: 1.2rem;
    }
}


/********************
** OFF CANVAS MENU **
*********************/

.off-canvas{
    /*height: 100%;*/
    background-color: $blue-dark;

    @include breakpoint(large) {
        background-color: transparent;
    }

    .vertical.menu{
        margin-top: rem-calc(30);

        li{
            margin-bottom: rem-calc(10);
            text-align: center;
        }
        a{
            font-weight: 700;
            font-size: rem-calc(16);
            line-height: rem-calc(19);
            color: $white;
        }
    }

    .logo-lidl{
        margin-top: rem-calc(25);
        margin-left: rem-calc(10);
    }

    .close-button{
        color: $white;
        font-size: 2.5rem;
        top: rem-calc(5);
    }

    .descarga-boton{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        a{
            width: 100%;
            padding-top: rem-calc(20);
            padding-bottom: rem-calc(20);
            margin-bottom: 0;
            font-weight: 900;
            font-size: rem-calc(18);
            border-radius: 0;
        }
    }

    &.reveal-for-large{
        z-index: 100;
    }

    .show-for-large{
        background-color: $white;
        opacity: .9;
        height: rem-calc(72);
        padding: 0; margin: 0;
        overflow: hidden;
        border-bottom: 2px solid #DBE3E8;

        .menu{
            padding-left: rem-calc(70);

            .menu-text{
                padding-right: rem-calc(30);
            }
        }

        ul, li{
            padding: 0; margin: 0;
        }

        a{
            height: rem-calc(72);
            padding-top: rem-calc(30);
            font-weight: 500;
            font-size: rem-calc(16);
            color: $blue-dark;

            &:hover, &.active{
                border-bottom: 5px solid $blue-light;
            }
        }
    }
}

.off-canvas-content{
    box-shadow: none;
    background-color: $grey-back;

    @include breakpoint(large) {
        margin-right: 0 !important;
    }
}

body.home{

    .show-for-large{
        background: $white;
        opacity: .85;
        border-bottom: 1px solid #DBE3E8;

        a{
            color: $blue-dark;
        }

        .menu-text{
            display: table-cell;
        }
    }

}


/************
** GENERAL **
*************/

.header{
    @include breakpoint(large) {
        //margin-top: rem-calc(72);
    }

    h1{
        display: none;
    }

    .menu-button{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: rem-calc(58);
        z-index: 100;
        text-align: center;
        background: $white;
        opacity: .85;
        border-bottom: 1px solid #DBE3E8;

        .menu-icon{
            position: fixed;
            top: rem-calc(10);
            right: rem-calc(15);
            width: rem-calc(30);
            height: rem-calc(30);
        }

        .menu-icon::before, .menu-icon::after{
            background: $blue-dark;
            box-shadow: 0 8px 0 $blue-dark,0 16px 0 $blue-dark;
        }


        &.with-background{
            background-color: $blue-light;
            border-radius: 50%;

            .menu-icon::after{
                height: 4px;
                border-radius: 5px;
                background: $white;
                box-shadow: 0 8px 0 $white,0 16px 0 $white;
            }
        }
    }

    .menu-icon{
        margin-top: rem-calc(10);
        width: rem-calc(25);

        &:hover{
            animation: border .4s ease 1 forwards;
        }

        &::after{
            height: 3px;
            border-radius: 5px;
            background: $white;
            box-shadow: 0 8px 0 $white,0 16px 0 $white;
        }

    }
}

.title{
    margin-top: rem-calc(36);
    margin-bottom: rem-calc(36);

    color: $blue-dark;
    font-weight: 700;
    font-size: rem-calc(36);
    text-align: center;
}

.subtitle{
    margin: rem-calc(20) 0;

    color: $blue-dark;
    font-weight: 500;
    font-size: rem-calc(23);
}


.alternative-header{
    min-height: rem-calc(185);
    background-color: $blue-dark;
    color: $white;

    @include breakpoint(small only) {
        min-height: rem-calc(150);
    }

    h1{
        display: none;
    }

    img, h2{
        display: inline-block;
        vertical-align: middle;
        margin-top: rem-calc(50);
    }

    @include breakpoint(small only) {
        img{
            width: rem-calc(50);
        }
    }

    h2{
        padding-left: rem-calc(25);
        font-family: $body-font-family;
        font-size: rem-calc(36);
        font-weight: 700;
        color: $white;

        @include breakpoint(small only) {
            margin-top: rem-calc(60);
            font-size: rem-calc(24);
        }

        @include breakpoint(medium only) {
            margin-top: rem-calc(60);
            font-size: rem-calc(30);
        }
    }

    .back{
        margin-top: rem-calc(75);
        text-align: right;

        @include breakpoint(small only) {
            margin-top: rem-calc(30);
        }

        a{
            font-size: rem-calc(16);
            font-weight: 700;
            color: $white;
        }
    }
}

a.button{
    background-color: $white;
    color: $blue-light;
    border: 2px solid $blue-light;
    font-size: rem-calc(18);
    font-weight: 700;

    &:hover{
        background-color: $blue-light;
        color: $white;
    }
}

/*********
** HOME **
**********/

.home{
    background-color: $white;
    color: $black-text;

    .close-button{
        top: 1rem;
    }

    .off-canvas-content{
        background-color: $white;
    }

    .header{
        height: rem-calc(750);
        background: transparent url("../img/header.jpg") no-repeat center center;
        background-size: cover;

        img.logo-lidlplus{
            position: absolute;
            top: rem-calc(460);
            left: calc(50% - 105px);

            /*@include breakpoint(large) {
                top: rem-calc(97);
            }*/
        }

    }

    .que-es{
        padding: 0 rem-calc(30) rem-calc(40);

        li{
            position: relative;
            padding: rem-calc(15);
            margin-bottom: rem-calc(20);

            list-style: none;
            text-align: center;

            @include breakpoint(large) {

                &:nth-child(2){
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }

            @include breakpoint(small only) {
                padding: 0 30px;
            }

            .que-es-img{
                margin-top: rem-calc(20);
                min-height: rem-calc(250);
            }

            h3{
                color: $blue-dark;
                font-weight: 500;
                font-size: rem-calc(18);
                line-height: rem-calc(22);
                margin-bottom: rem-calc(25);
            }

            p{
                margin-top: 0;
                margin-bottom: 0;

                font-weight: 300;
                font-size: rem-calc(16);
                line-height: rem-calc(26);
            }

            /*@include breakpoint(medium only) {
                &.medium-centered{
                    float: none !important;
                }
            }*/
        }
    }

    .precios{
        position: relative;
        height: rem-calc(670);
        padding-top: rem-calc(40);
        background-image: url("../img/precios_background.jpg");
        background-position: center;
        background-size: cover;

        .precios-content{
            margin-top:rem-calc(180);
        }

        p{
            font-size: rem-calc(16);
            font-weight: 300;

            a{
                font-weight: 700;
                color: $blue-light;
            }
        }

        @include breakpoint(small only) {
            height: auto;
            padding-bottom: 40px;

            .precios-content{
                margin-top: rem-calc(60);
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .precios-content{
                margin-top: rem-calc(0);
            }
        }
    }

    .cupones{
        padding-left: 0;
        padding-top: rem-calc(30);
        height: rem-calc(730);
        background-color: #F9F9FA;

        &>div{
            padding-left: 0;
        }

        .cupones-content{
            margin-top: rem-calc(210);
        }

        p{
            font-weight: 300;

            a{
                font-weight: 700;
                color: $blue-light;
            }
        }

        @include breakpoint(small only) {
            height: auto;
            padding-bottom: 40px;

            .cupones-content{
                margin-top: rem-calc(60);
                padding: 0px 20px;
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .cupones-content{
                margin-top: rem-calc(0);
            }
        }
    }

    .rasca{
        padding-top: rem-calc(67);
        height: rem-calc(575);
        background-image: url("../img/rasca_background.jpg");
        background-position: center;
        background-size: cover;

        .image-content{
            padding-right: rem-calc(20);
        }

        .rasca-content{
            margin-top: rem-calc(80);
        }

        p{
            font-weight: 300;
        }

        @include breakpoint(small only) {
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;

            .rasca-content{
                margin-top: rem-calc(60);
                padding: 0px 20px;
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .rasca-content{
                margin-top: rem-calc(0);
            }
        }
    }

    .tickets{
        padding-left: 0;
        padding-top: rem-calc(95);
        height: rem-calc(572);
        background-color: #F9F9FA;

        .tickets-content{
            margin-top: rem-calc(60);
            padding-right: rem-calc(40);
        }

        p{
            font-weight: 300;

            a{
                font-weight: 700;
                color: $blue-light;
            }
        }

        @include breakpoint(small only) {
            height: auto;
            padding-bottom: 40px;

            .tickets-content{
                margin-top: rem-calc(60);
                padding: 0px 20px;
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .tickets-content{
                margin-top: rem-calc(0);
            }
        }
    }

    .tarjeta{
        padding-top: rem-calc(140);
        height: rem-calc(590);
        background-image: url("../img/tarjeta_background.jpg");
        background-position: center;
        background-size: cover;

        .tarjeta-content{
            margin-top: rem-calc(80);
        }

        p{
            font-weight: 300;
        }

        @include breakpoint(small only) {
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;

            .tarjeta-content{
                margin-top: rem-calc(60);
                padding: 0px 20px;
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .tarjeta-content{
                margin-top: rem-calc(0);
            }
        }
    }

    .folletos{
        padding-top: rem-calc(70);
        height: rem-calc(572);
        background-color: #F9F9FA;

        .folletos-content{
            margin-top: rem-calc(100);
        }

        p{
            font-weight: 300;
        }

        @include breakpoint(small only) {
            height: auto;
            padding-top: 40px;
            padding-bottom: 40px;

            .folletos-content{
                margin-top: rem-calc(60);
                padding: 0px 20px;
                text-align: center;
            }
        }

        @include breakpoint(medium only) {
            height: auto;
            padding-bottom: 40px;

            .folletos-content{
                margin-top: rem-calc(0);
            }
        }
    }
}

/************
** Cupones **
*************/

body.cupones{

    background-color: $grey-back;

    @include breakpoint(large) {
        header{
            margin-top: rem-calc(72);
        }
    }


    .cupones-title{
        background-color: $white;

        padding: rem-calc(70) 0;
        border-bottom: 2px solid #DBE3E8;

        .left, .right{
            display: inline-block;
            vertical-align: top;
        }

        .left{
            margin-left: calc(50% - 212px);
        }

        .right{
            margin-left: rem-calc(10);
        }

        h2{
            margin: 0;
        }

        h3{
            font-family: $body-font-family;
            font-size: rem-calc(16);
            font-weight: 700;
            color: $black-text;
            line-height: rem-calc(26);
        }

        @include breakpoint(small only) {
            text-align: center;

            h2{
                margin-top: rem-calc(20);
            }

            .left, .right{
                margin:0;
                width: 100%;
                text-align: center;
            }

            .right{
                margin-top: 20px;
            }
        }

    }

    .cupones-list{
        padding-top: rem-calc(50);

        ul{
            /*max-width: $global-width;*/

            li{
                position: relative;
                list-style: none;
                margin-bottom: rem-calc(30);

                a span{
                    position:absolute;
                    width:100%;
                    height:100%;
                    top:0;
                    left: 0;

                    z-index: 1;
                }

                .crop{
                    height: rem-calc(150);
                    padding: 0;
                    border-radius: 4px 4px 0px 0px;
                    overflow: hidden;
                }
                img{
                    /*clip-path: inset(0 0 55% 0);*/

                }

                .coupon-text{
                    min-height: rem-calc(75);
                    padding: 0 rem-calc(20);
                    background-color: $white;
                    border-radius: 0px 0px 4px 4px;
                    box-shadow: 0 1px 1px 0 #dbe3e8;

                    .name{
                        padding-top: rem-calc(27);
                        padding-bottom: 1rem;
                        padding-left: 0;
                        font-size: rem-calc(18);
                        font-weight: 500;
                        line-height: rem-calc(24);
                    }

                    .discount{
                        padding-right: 0
                    }

                    .discount-number{
                        display: block;
                        width: 100%;
                        padding-top: rem-calc(22);
                        font-size: rem-calc(32);
                        font-weight: 700;
                        color: $blue-light;
                        line-height: rem-calc(32);
                        text-align: right;
                    }
                    .discount-type{
                        display: block;
                        width: 100%;
                        font-size: rem-calc(12);
                        font-weight: 900;
                        color: $blue-light;
                        text-align: right;
                    }

                    &.with-offerdescription{

                        .discount-number{
                            padding-top: rem-calc(16);
                        }
                    }
                }
            }
        }
    }

    .coupon-image-blured{
        margin-top: rem-calc(-72);
        height: rem-calc(280);
        background-size:cover;
        filter: blur(10px);
        z-index: 1;
    }

    .coupon-detail{
        position: relative;
        margin-top: rem-calc(-143);
        margin-bottom: rem-calc(60);
        z-index: 10;

        @include breakpoint(small only) {
            margin-top: rem-calc(-110);
        }

        .coupon-detail-wrapper{
            padding: 0;
            box-shadow: 0 2px 13px 0 #dbe3e8;
        }

        .crop{
            height: rem-calc(230);
            padding: 0;
            border-radius: 4px 4px 0px 0px;
            overflow: hidden;
        }

        .coupon-text{
            padding: rem-calc(16) 0;
            background-color: $white;

        }

        .name{
            display: block;
            width: 100%;
            font-size: rem-calc(24);
            font-weight: 700;
            line-height: rem-calc(29);
            color: $black-text;
        }

        .text{
            display: block;
            width: 100%;
            font-size: rem-calc(16);
            font-weight: 300;
            line-height: rem-calc(19);
            color: $dark-gray;
        }

        .discount-number{
            display: block;
            width: 100%;
            font-size: rem-calc(44);
            font-weight: 700;
            color: $blue-light;
            line-height: rem-calc(44);
            text-align: right;
        }
        .discount-type{
            display: block;
            width: 100%;
            font-size: rem-calc(19);
            font-weight: 700;
            color: $blue-light;
            text-align: right;
        }

        .coupon-legal{
            padding-top: rem-calc(20);
            padding-bottom: rem-calc(20);
            border-top: 1px solid #DEDEDE;
            border-radius: 0 0 4px 4px;
            background-color: $white;

            p{
                font-size: rem-calc(12);
                font-weight: 300;
                line-height: rem-calc(14);

                strong{
                    font-weight: 700;
                }
            }
        }
    }


    .cupones-list.from-coupon-detail{
        margin-bottom: rem-calc(60);

        .cupones-list-wrapper{
            padding: 0;
        }

        h3{
            margin-bottom: rem-calc(16);
            font-family: $body-font-family;
            font-weight: 500;
            font-size: rem-calc(24);
            color: $blue-dark;
            line-height: rem-calc(46);
        }
    }

    .no-disponible{

        .image{
            padding-top: rem-calc(80);
        }

        h2{
            margin-bottom: rem-calc(20);
            font-family: $body-font-family;
            font-weight: 700;
            font-size: rem-calc(40);
            color: $black-text;
        }
        p{
            font-weight: 500;
            font-size: rem-calc(20);
        }

        .content{
            margin-top: rem-calc(40);
            padding-bottom: rem-calc(60);
            text-align: center;

            p{
                font-weight: 500;
                font-size: rem-calc(20);
                color: $blue-dark;

                a{
                    font-size: rem-calc(20);
                    color: $blue-dark;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}


/**********************
** Precios Lidl Plus **
**********************/

body.precios{

    background-color: $grey-back;

    header{
        margin-top: rem-calc(72);

        @include breakpoint(medium down) {
            margin-top: 0;
        }

    }

    .precios-title{
        background-color: $white;

        padding: rem-calc(70) 0;
        border-bottom: 2px solid #DBE3E8;

        .left, .right{
            display: inline-block;
            vertical-align: top;
        }

        .left{
            margin-left: calc(50% - 212px);
        }

        .right{
            margin-left: rem-calc(10);
        }

        h2{
            margin: 0;
        }

        h3{
            font-family: $body-font-family;
            font-size: rem-calc(16);
            font-weight: 700;
            color: $black-text;
            line-height: rem-calc(26);
        }

        @include breakpoint(small only) {
            .left, .right{
                margin:0;
                width: 100%;
                text-align: center;
            }

            .right{
                margin-top: 20px;
            }
        }

    }

    .precios-list{
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(40);

        .grid-sizer{
            padding: 0;
            margin: 0;
        }

        ul{
            padding-bottom: 0; margin-bottom: 0;

            li{
                position: relative;
                list-style: none;
                /*min-height: rem-calc(320);*/
                margin-bottom: rem-calc(30);

                a span{
                    position:absolute;
                    width:100%;
                    height:100%;
                    top:0;
                    left: 0;

                    z-index: 10;
                }

                .product-overlay, .product-overlay-text{
                    display: none;
                }

                &.veiled{

                    .product-overlay{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(100% - 1.875rem);
                        height: 100%;
                        margin-left: .9375rem;
                        background-color: #0F213A;
                        border-radius: 4px;
                        opacity: .5;
                        z-index: 5;
                    }

                    .product-overlay-text{
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 6;
                        padding: 10px 10px 10px 30px;
                        margin-left: -83px;
                        margin-top: -23px;
                        color: $white;
                        font-size: rem-calc(15);
                        font-weight: 700;
                        text-transform: uppercase;
                        border: 1.3px solid $white;
                        border-radius: 4px;
                        background:transparent url("../img/reloj-icon.png") 5px center no-repeat;
                    }

                    @include breakpoint(small only) {
                        .product-overlay{
                            width: calc(100% - 1.25rem);
                            margin-left: .625rem;
                        }

                        .product-overlay-text{
                            font-size: rem-calc(12);
                            margin-left: -78px;
                        }
                    }
                }

                .product-image{
                    position: relative;
                    border-radius: 4px 4px 0px 0px;
                    background-color: $white;

                    .arrow{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 77px 85px 0 0;
                        border-color: $blue-light transparent transparent transparent;
                    }

                    .discount-number{
                        position: absolute;
                        top: 10px;
                        left:2px;
                        font-size: rem-calc(19);
                        font-weight: 900;
                        color: $white;
                    }
                }

                .product-text{
                    padding: 0;
                    background-color: $white;
                    border-radius: 0 0 4px 4px;

                    .name{
                        padding: 10px 20px;
                        font-size: rem-calc(18);
                        font-weight: 500;
                        line-height: rem-calc(24);
                        border-bottom: .65px solid #DCDCDC;
                        border-top: .65px solid #DCDCDC;
                    }

                    .discount{
                        padding: 10px 20px;

                        .price{
                            padding: 0;
                            font-size: rem-calc(22);
                            line-height: rem-calc(48);
                            font-weight: 300;
                            text-decoration: line-through;
                        }

                        .price-lidlplus{
                            padding: 0;
                            text-align: right;
                            font-size: rem-calc(32);
                            font-weight: 700;
                            color: $blue-light;

                            span{
                                font-size: rem-calc(22);
                                color: $blue-dark;
                            }
                        }
                    }

                    @include breakpoint(medium down) {
                        .name{
                            padding: 10px;
                            font-size: rem-calc(14);
                        }

                        .discount{

                            padding: 10px;

                            .price{
                                font-size: rem-calc(14);
                            }

                            .price-lidlplus{
                                font-size: rem-calc(18);
                                line-height: rem-calc(48);

                                span{
                                    font-size: rem-calc(14);
                                }
                            }
                        }
                    }

                }
            }
        }

        h3{
            margin-bottom: rem-calc(16);
            font-family: $body-font-family;
            font-size: rem-calc(24);
            font-weight: 500;
            line-height: rem-calc(46);
            color: $blue-dark;
        }

        .ver-todos{

            a{
                font-size: rem-calc(16);
                font-weight: 700;
                color: $blue-dark;
            }

        }
    }

    .precios-image-blured{
        margin-top: rem-calc(-72);
        height: rem-calc(280);
        background-size:cover;
        background-position: center center;
        /*filter: blur(10px);*/
        z-index: 1;
    }

    .precios-detail{
        position: relative;
        padding-bottom: rem-calc(90);
        background-color: $white;
        z-index: 10;

        &.veiled{

            .product-overlay{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #0F213A;
                border-radius: 4px 4px 0px 0px;
                opacity: .5;
                z-index: 5;
            }

            .product-overlay-text{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 6;
                padding: 10px 10px 10px 30px;
                margin-left: -83px;
                margin-top: -23px;
                color: $white;
                font-size: rem-calc(15);
                font-weight: 700;
                text-transform: uppercase;
                border: 1.3px solid $white;
                border-radius: 4px;
                background:transparent url("../img/reloj-icon.png") 5px center no-repeat;
            }
        }

        .product-image{
            position: relative;
            padding: 0;
            margin-top: -80px;
            box-shadow: 0 2px 13px 0 #dbe3e8;

            .percentage{
                position: absolute;
                top: -62px;
                right: -44px;
                padding-top: rem-calc(37);
                width: rem-calc(125);
                height: rem-calc(125);
                z-index: 10;

                font-size: rem-calc(33);
                font-weight: 900;
                color: $white;
                text-align: center;
            }

            .image{
                position: relative;
                padding: 0;

                img{
                    border-radius: 4px 4px 0 0;
                }
            }
            .discount{
                padding-top: rem-calc(10);
                padding-bottom: rem-calc(10);
                background-color: #E6F5FF;
                border-radius: 0 0 4px 4px;

                .price{
                    padding: 0;
                    padding-top: rem-calc(8);
                    font-size: rem-calc(19);
                    line-height: rem-calc(22);
                    font-weight: 300;

                    span.price-title{
                        font-size: rem-calc(12);
                        font-weight: 500;
                        line-height: rem-calc(14);
                    }

                    span.tachado{
                        text-decoration: line-through;
                    }
                }

                .price-lidlplus{
                    padding: 0;
                    text-align: right;
                    font-size: rem-calc(42);
                    font-weight: 700;
                    color: $blue-light;

                    span{
                        font-size: rem-calc(22);
                        color: $blue-dark;
                    }
                }
            }
        }


        .product-text{
            padding-left: rem-calc(30);

            h2{
                font-family: $body-font-family;
                font-size: rem-calc(36);
                font-weight: 500;
                color: $blue-dark;
                line-height: rem-calc(46);
            }

            h3{
                font-family: $body-font-family;
                font-size: rem-calc(24);
                font-weight: 500;
                color: $blue-dark;
                line-height: rem-calc(29);
            }

            .description{
                padding: rem-calc(20) 0;
            }

            .block{
                padding: rem-calc(20) 0;
                border-top: 1px solid #d5d5d5;
            }

        }
    }

    .no-disponible{

        .image{
            padding-top: rem-calc(80);
        }

        h2{
            margin-bottom: rem-calc(20);
            font-family: $body-font-family;
            font-weight: 700;
            font-size: rem-calc(40);
            color: $black-text;
        }
        p{
            font-weight: 500;
            font-size: rem-calc(20);
        }

        .content{
            margin-top: rem-calc(40);
            padding-bottom: rem-calc(60);
            text-align: center;

            p{
                font-weight: 500;
                font-size: rem-calc(20);
                color: $blue-dark;

                a{
                    font-size: rem-calc(20);
                    color: $blue-dark;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/**********
** FAQ's **
***********/

.faqs{
    background-color: $grey-back;

    .off-canvas-content{
        background-color: $grey-back;
    }

    h2.title{
        margin-top: rem-calc(120);
        font-weight: 500;
    }

    .content{
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(60);

        h3{
            margin-top: 4rem;
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: rem-calc(24);
            color: $blue-dark;
            line-height: rem-calc(30);
        }

        p, li{
            font-weight: 300;
            font-size: rem-calc(14);
            color: $black-text;
            line-height: rem-calc(22);
        }
    }
}

/***************
** App Legals **
****************/

.app-legals{
    background-color: $grey-back;

    .off-canvas-content{
        background-color: $grey-back;
    }

    h2.title{
        margin-top: rem-calc(120);
        font-weight: 500;
        font-size: rem-calc(30);
    }

    .content{
        padding-bottom: rem-calc(60);

        h3{
            margin: 2rem 0;
            font-weight: 500;
            font-size: rem-calc(20);
            color: $blue-dark;
            line-height: rem-calc(30);

            &:first-of-type{
                margin-top: 0;
            }
        }

        p, li{
            font-weight: 300;
            font-size: rem-calc(14);
            color: $black-text;
            line-height: rem-calc(22);
        }
    }
}


.contacto{
    background-color: $white;

    .off-canvas-content{
        background-color: $white;
    }

    h2.title{
        margin-top: rem-calc(120);
        font-weight: 500;
    }

    .content{
        padding-bottom: rem-calc(60);

        p{
            text-align: center;
            font-weight: 300;
            font-size: rem-calc(18);
            color: $black-text;
            line-height: rem-calc(24);

            .button{
                margin: rem-calc(30) 0;
                padding: rem-calc(15) rem-calc(40);
            }

            &.telefono a{
                font-weight: 900;
                font-size: rem-calc(36);
                line-height: rem-calc(54);
                color: $blue-dark;
            }
        }
    }
}

/*************
** Mensajes **
**************/

.mensaje{
    section{
        margin-top: rem-calc(60);
    }

    h2{
        font-weight: 700;
        font-size: rem-calc(36);
        color: $green;

        &.error{
            color: $coral;
        }
    }

    .image{
    }

    .content{
        margin-top: rem-calc(40);
        text-align: center;

        p{
            font-weight: 700;
            font-size: rem-calc(24);
            color: $blue-dark;

            a{
                font-size: rem-calc(16);
                color: $blue-dark;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

}

/*************
** 404 **
**************/

.error{

    header{
        padding-top: rem-calc(140);
    }

    h2{
        font-family: $body-font-family;
        font-weight: 700;
        font-size: rem-calc(40);
        color: $black-text;
    }

    .content{
        margin-top: rem-calc(0);
        padding-bottom: rem-calc(60);
        text-align: center;

        p{
            font-weight: 500;
            font-size: rem-calc(20);
            color: $blue-dark;

            a{
                font-size: rem-calc(20);
                color: $blue-dark;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

}


/******************
** Rasca Winners **
*******************/

.winners{
    padding-top: rem-calc(120);
    padding-bottom: rem-calc(120);
    background-color: $white;

    h3{
        font-size: rem-calc(23);
        font-weight: 500;
        color: $blue-dark;
    }

    ul{
        margin-top: rem-calc(50);
        list-style: none;
    }
    li{
        margin-bottom: rem-calc(30);
        list-style: none;
        font-size: rem-calc(18);
        font-weight: 500;
        color: $blue-dark;
        line-height: rem-calc(26);

        .date{
            font-size: rem-calc(16);
            font-weight: 500;
            color: $rasca-grey;
        }

        .name{
            font-weight: 700;
        }
    }
    p{
        margin-top: rem-calc(40);

        &.link-bases-legales{
            margin-top: rem-calc(80);
        }
    }

}

/*************
** Empresas **
**************/

.empresas{

    .content{
        padding-top: rem-calc(120);
        padding-bottom: rem-calc(120);
        background-color: $white;

        ul{
            margin-top: rem-calc(50);
            list-style: none;
        }
        li{
            margin-bottom: rem-calc(30);
            list-style: none;
            font-size: rem-calc(18);
            font-weight: 500;
            color: $blue-dark;
            line-height: rem-calc(26);
        }
    }

}

/*************
** Tiendas **
**************/

.tiendas{

    .content{
        padding-top: rem-calc(90);
        padding-bottom: rem-calc(120);
        background-color: $white;

        h3{
            margin-top: rem-calc(30);
            font-size: rem-calc(23);
            font-weight: 700;
            color: $blue-dark;
            text-transform: uppercase;
        }

        ul{
            margin-top: rem-calc(30);
            list-style: none;
        }
        li{
            margin-bottom: rem-calc(30);
            list-style: none;
            font-size: rem-calc(18);
            font-weight: 500;
            color: $blue-dark;
            line-height: rem-calc(26);
        }
    }

}



/***********
** FOOTER **
************/

.descarga{
    padding: rem-calc(40) 0 rem-calc(30);
    background-color: $blue-back;

    font-size: rem-calc(18);
    font-weight: 300;
    line-height: rem-calc(26);

    @include breakpoint(small only) {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include breakpoint(medium only) {
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    a{
        font-size: rem-calc(18);
        color: $black-text;
    }
}

footer{
    padding: rem-calc(70) 0;
    background-color: $blue-dark;

    .lidl-plus, .lidl{
        padding: rem-calc(15) 0;

        img{
            display: inline-block;
            vertical-align: top;
        }
        p{
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 75px);
            padding-left: rem-calc(10);
            font-weight: 300;
            font-size: rem-calc(12);
            color: $white;
        }

        @include breakpoint(medium only) {
            margin-bottom: rem-calc(40);

            p{
                padding: 0 20px;
            }
        }
    }

    h4{
        font-family: $body-font-family;
        font-weight: 500;
        font-size: rem-calc(18);
        line-height: rem-calc(22);
        color: $white;
    }

    ul.menu, li{
        padding: 0; margin: 0;

        a{
            padding-left: 0;
            font-weight: 300;
            font-size: rem-calc(16);
            line-height: rem-calc(22);
            color: $white;
        }
    }

    @include breakpoint(small only) {
        padding-left: 15px;
        padding-right: 15px;

        h4{
            margin-top: rem-calc(40);
        }
    }

}


/*******************
** PORTAL CAUTIVO **
********************/

.portal-captivo{

    font-family: "Museo Slab";
    text-align: center;

    & > .row{
        height: 100%;
        padding: 0px 0px;

        background: rgba(255,255,255,1);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(12%, rgba(255,255,255,1)), color-stop(51%, rgba(199,206,218,1)), color-stop(100%, rgba(101,109,118,1)));
        background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(199,206,218,1) 51%, rgba(101,109,118,1) 100%);
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#656d76', GradientType=1 );*/
    }

    .columns{
        padding: 30px 0px;
    }

    h1 img{
        width: 120px;
    }

    h2{
        padding: 0 0 20px !important;
        font-size: 22px;
        font-weight: 500;
        line-height: 31px;
        color: #45577a;

        strong{
            font-weight: 900;
        }
    }

    .screenshots{
        margin-top: 40px;
    }

    a.button{
        margin-bottom: 0px;

        font-size: 30px;
        font-weight: 700;

        box-shadow: 0 4px 4px -2px #232323;
    }
}


/***************
** Ayudas App **
****************/

.ayuda-app{

    background-color: #f3f3f3;
    overflow: hidden;

    .orbit{
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        /*margin-top: rem-calc(75);*/

        .orbit-previous, .orbit-next{
            display: none;
        }

        .orbit-slide{
            text-align: center;
            height: rem-calc(550);
        }

        .orbit-image{
            margin-top: 65px;
            width: 250px;
        }

        .orbit-caption{
            padding: 1.5rem 2.5rem 0.5rem;
            background-color: $white;
            font-family: $body-font-family;
            font-weight: 300;
            font-size: rem-calc(16);
            color: $blue-dark;
        }

        .orbit-bullets{
            background-color: $white;
            padding-bottom: rem-calc(17);
        }


        &.cupones, &.precios, &.tarjeta{
            li:last-of-type{
                text-align: right;

                .orbit-caption{
                    text-align: center;
                }

                .orbit-image{
                    width: 310px;
                }
            }
        }
    }

}
