---
layout: others
class: contacto
contacto: true
title: Contacto
---

    <section class="row">
        <h2 class="title small-12 columns"><span class="line"></span> <span class="text">Contacta con nosotros</span><span class="line"></span></h2>

        <div class="content small-12 columns">
            <iframe width="100%" height="2300" marginwidth="0" marginheight="0" align="top" scrolling="No" frameborder="0" hspace="0" vspace="0" src="https://form.lidl.com/fs/form/provide/1050?lang=es-es"></iframe>
        </div>

    </section>
