---
layout: others
class: contacto
contacto: true
title: Contacto
---

    <section class="row">
        <h2 class="title small-12 columns"><span class="line"></span> <span class="text">Contacta con nosotros</span><span class="line"></span></h2>

        <div class="content small-12 columns">
            <p>Si tienes alguna duda más puedes contactarnos rellenando nuestro formulario de contacto:</p>
            <p><a href="form.html" class="button">IR AL FORMULARIO</a></p>
            <p>o si lo prefieres, llámanos a nuestro teléfono de atención al cliente, estamos a tu disposición de lunes a sábado de 9h a 20h</p>
            <p class="telefono"><a href="tel:900938311">900 958 311</a></p>
        </div>

    </section>
