---
layout: app
class: app-legals
aviso-legal: true
---


    <header class="header row">
        <h1>Lidl Plus - Condiciones de uso</h1>
    </header>

    <section class="row">
        <h2 class="title small-10 small-offset-1 columns end"><span class="line"></span> <span class="text">Condiciones de uso</span><span class="line"></span></h2>

        <div class="content small-10 small-offset-1 columns end">
            <h3>1. Ámbito de validez y relación con otras disposiciones</h3>
            <p>Estas condiciones de participación regulan el uso del servicio Lidl Plus (de ahora en adelante "Servicio"). El Servicio está gestionado por Lidl Stiftung & Co. KG (de ahora en adelante "Lidl Stiftung" o "nosotros") sin perjuicio de que en las prestaciones puedan participar también otras sociedades del Grupo empresarial Lidl que puedes consultar en www.lidlplus.es/empresas (de ahora en adelante designadas de manera conjunta como „Lidl“). El Servicio está orientado hacia los clientes (a continuación “Usuario” o “Tu”) que desean recibir informaciones personalizadas sobre ofertas y campañas de Lidl y que satisfagan al máximo posible los intereses de la persona en cuestión. El Servicio tiene como finalidad que el usuario reciba los contenidos más importantes y que Lidl no envíe aquella información que carece de interés para el correspondiente usuario. El Servicio se facilitará basándose en las siguientes condiciones de participación. </p>
            <p>Mediante la aceptación de estas condiciones, el usuario consiente expresamente la cesión o comunicación de los datos incluidos en el fichero o ficheros que se detallan, a las empresas del grupo Lidl con las mismas finalidades que se indican aquí para la recogida de datos.</p>

            <h3>2. Requisitos de la participación</h3>
            <p>Deberás tener más de 16 años de edad para poder registrarte en nuestro Servicio. Solo está permitida la participación para uso privado, quedando excluida la participación comercial.</p>

            <h3>3. Registro y Cuenta</h3>
            <p>Para tener derecho a nuestro Servicio, deberás crear una cuenta. Como te facilitamos el Servicio de forma voluntaria y gratuita, podemos rechazar en casos individuales, y sin manifestar los motivos, la creación de una cuenta. </p>
            <p>La dirección de correo electrónico y el número de su teléfono móvil solo podrán asignarse a una única cuenta. No está permitido indicar una dirección de correo electrónico, un número de teléfono móvil u otros datos de contacto que no te pertenezcan, en especial  direcciones de correo electrónico desechables. Deberás custodiar de manera segura sus datos de acceso y está prohibido dar acceso a otras personas a su Cuenta.</p>
            <p>Toda interacción con Lidl a través de tu cuenta se te atribuirá a ti. Esto se aplica también si un tercero actúa a través de tu Cuenta, en caso de que esos terceros pudieran utilizar tu Cuenta siendo responsable de ello. Deberás informarnos inmediatamente del uso no autorizado de tu Cuenta y modificar tus datos de acceso en caso de sospechar de que un Tercero está la está utilizando. </p>
            <p>Tienes las siguientes posibilidades para registrarte en Lidl Plus:</p>
            <ul>
                <li>A través de un ordenador de pantalla táctil fijo en las tiendas (los llamados terminales de tienda)</li>
                <li>Online en la página www.lidlplus.es</li>
                <li>A través de la página de registro de la Wi-FI de las tiendas</li>
                <li>A través de nuestra App, disponible para distintas plataformas móviles. A través de nuestra App encontrará múltiples servicios y ofertas en torno a Lidl.</li>
            </ul>
            <p>En el curso del registro se te asignará automáticamente un número de cliente.</p>

            <h3>4.Objeto de la prestación</h3>
            <p><strong>4.1 Información exacta</strong></p>
            <p>El objetivo del Servicio consiste en enviarte la información que mejor se adapta a ti, que sea importante para ti y, dentro de lo posible, figurar también personalmente para ti nuestras ofertas y servicios. </p>
            <p>La participación en Lidl Plus es gratuita. </p>
            <p>Con Lidl Plus disfrutarás de multitud de servicios personalizados. Incluyen, entre otros, ofertas adaptadas a tus necesidades y deseos, la participación en sorteos y en descuentos y campañas especiales. Con este objetivo intentamos averiguar tus intereses y preferencias con respecto a los productos y los servicios que ofrece Lidl. </p>
            <p><strong>4.2 Recogida y almacenamiento de datos</strong></p>
            <p>La base para determinar las ofertas adaptadas para ti son los datos indicados en esta sección:</p>
            <p><em>4.2.1 Registro para Lidl Plus:</em></p>
            <p>Dentro del marco del registro, solicitamos los siguientes datos a los clientes: tratamiento/sexo, nombre, apellido, dirección (calle, número, código postal, ciudad y país), tiendas de Lidl preferidas, fecha de nacimiento, dirección de correo electrónico, número de teléfono móvil.</p>
            <p><em>4.2.2 Visitas a la tienda:</em></p>
            <p>En cuanto seleccionas la WI-FI de la tienda mediante tu dispositivo móvil, mediante geolocalización registramos el lugar donde te encuentras en la tienda a la que has acudido, así como la hora y la duración de la conexión WI-FI. Además, durante una conexión a la red WI-FI  de nuestra tienda, obtenemos mediante geolocalización tus datos de posición para averiguar ante qué productos te has detenido. Finalmente, registramos la dirección MAC de tu dispositivo móvil y lo asociamos a tu cuenta de cliente.</p>
            <p>Cuando durante tu visita a la tienda te identificas en la caja, registramos la tienda a la que has acudido, el tipo, la cantidad y el precio de los productos adquiridos, los cupones canjeados, la suma de bonos, así como el momento del proceso de pago y los tipos de medios de pago utilizados. Asociando tus compras a tu cuenta de cliente perseguimos los fines indicados en el apartado 1, tales como poder brindarte ofertas especiales adaptadas a tus intereses y preferencias, así como la participación en campañas.</p>
            <p>Te podrás identificar de modo activo en la caja mediante la tarjeta de cliente, digital o física, canjeando un cupón personalizado o utilizando las funciones de Cupones o de auto-escaneado del App de Lidl Plus. </p>
            <p>Utilizando el terminal de la tienda, registramos la tienda a la que has acudido, las horas de acceso y de desconexión así como las funciones de impresión realizadas de descuentos, según lugar y momento. </p>
            <p>Además, es posible identificarte sin tu participación activa siempre que pagues con una tarjeta de crédito, que esta tarjeta esté asociada con nosotros a un número de cliente y que mediante la dirección MAC de su dispositivo móvil hayamos registrado tu estancia concreta en nuestra tienda. Utilizaremos las cifras del número abreviado de la tarjeta utilizada y la dirección MAC de su dispositivo móvil. Si utilizas una tarjeta de crédito conjuntamente con otra persona, tu compra se te asignará eventualmente a esta persona.</p>
            <p>Si no deseas una identificación sin tu intervención y que con ello se asigne automáticamente tu compra a su cuenta de cliente, puedes desconectar la función de WI-FI de tu dispositivo móvil en cuanto que entre en nuestras tiendas.</p>
            <p><em>4.2.3 Servicio de atención al cliente</em></p>
            <p>Cuando contactas con nuestro servicio de atención al cliente te solicitaremos la número de cliente Lidl Plus. Si te identificas como cliente Lidl Plus guardaremos tus datos sobre cualesquiera quejas o reclamaciones que realices en tu cuenta de Lidl Plus, con la finalidad de enviarte mejores ofertas que se acercan más a tus intereses. Así evitamos, por ejemplo, que en el futuro no recibas informaciones y ofertas de productos que not e interesan. Puedes evitar u oponerte a la conexión entre tu solicitud a nuestro servicio de atención al cliente con el programa Lidl Plus no facilitando tu número de cliente Lidl Plus en el momento que nuestro operador de Atención al Cliente se lo solicite. </p>
            <p><em>4.2.3 Uso de la App</em></p>
            <p>Al utilizar la App de Lidl Plus registramos la tienda en la que compras. Al utilizar la lista de compra digital registramos, además, el tipo y el volumen de los productos que has señalado en ella, la hora de utilización, los cupones que se han mirado y activado, el historial de auto-escaneo, su modo de señalar con un clic y las tiendas elegidas. Además, recogemos información sobre la versión del sistema operativo usado, la denominación del dispositivo, el idioma del sistema y la versión de la App que has utilizado.</p>
            <p><em>4.2.4 Datos de acceso</em></p>
            <p>Tus datos se recogerán y utilizarán para realizar el acceso. Para que no tengas que iniciar sesión cada vez que abras la App, tus datos de acceso se guardarán encriptados en la App hasta que salgas de tu cuenta.</p>
            <p><em>4.2.5 Visitas Online</em></p>
            <p>Cuando navegas por las páginas web del grupo empresarial Lidl, registramos tus costumbres de Usuario, las almacenamos y si es posible las asociamos a tu persona o bien a tu dirección de correo electrónico o número de cliente. Con ello recogemos las páginas web visitadas del grupo empresarial Lidl, la frecuencia y la duración de la visita, las áreas marcadas y los productos elegidos.</p>
            <p><em>4.2.6 Boletines informativos/ Notificaciones Push / SMS</em></p>
            <p>Registramos además sus costumbres de Usuario con respecto a los boletines informativos y otras informaciones que le enviamos como Notificaciones Push o SMS, lo almacenamos y si es posible lo asociamos a su persona o bien a su dirección de correo electrónico o número de cliente. Registramos la hora de apertura, los enlaces que ha activado y las áreas visitadas.</p>
            <p><em>4.3 Análisis de datos</em></p>
            <p>Los datos descritos en el apartado 4.2 los agrupamos en nuestro banco de datos. Analizamos los datos con objeto de determinar aquellas informaciones que podrían interesarte para enviarte o mostrarte solo esas informaciones. No obstante, Lidl no asume ninguna obligación legal de que el tratamiento de los datos funcione siempre del modo indicado y que realmente solo recibas ofertas que te interesan.</p>
            <p><em>4.4 Envío de las ofertas</em></p>
            <p>Dependiendo del alcance en el que utilices los servicios de Lidl Plus, Lidl Stiftung transmite ciertas informaciones a determinadas sociedades Lidl para que le envíen las correspondientes ofertas. Dentro del grupo empresarial Lidl, consituidas y por constituir, (puedes consultar el listado en www.lidlplus.es/empresas) transmitimos a la sociedad que corresponda tus preferencias de productos para aprovechar específicamente los contenidos estimados como interesantes para ti. </p>

            <h3>5. Requisitos generales para el uso del Servicio</h3>
            <p>Para utilizar los servicios de Lidl Plus se necesita un número de teléfono móvil válido. </p>
            <p>Para poder utilizar la App de Lidl Plus, el deberás descargar el software de una App Store. Para los distintos tipos de teléfonos móviles existen versiones de software específicas. Por razones técnicas, no puede ofrecerse para algunos tipos de teléfono móvil. Si para el teléfono móvil del usuario no existe una versión de software adecuada, no podrá utilizar el Servicio. No obstante, Lidl se esfuerza en ofrecer el software para el máximo número posible de tipos de móviles. Debido al constante cambio en la gama de productos del mercado para los terminales móviles, Lidl no puede ofrecer una lista actual de todos los teléfonos móviles con los que es posible utilizar los Servicios. </p>
            <p>La instalación del software y la utilización de los Servicios implica una transmisión regular de datos del teléfono móvil del usuario. El volumen y la frecuencia de la transmisión de datos dependen del grado de utilización de los Servicios. Los costes de conexión resultantes de la transmisión de datos corren a cargo del usuario. Su importe se rige por el contrato existente entre el usuario y el correspondiente proveedor de telefonía móvil. </p>
            <p>Los costes de instalación de la conexión de Internet y su mantenimiento por parte del usuario no forman parte de las prestaciones del Servicio de Lidl. </p>
            <p>Para la utilización del servicio Lidl Plus es necesario, además, un nivel suficiente de la batería y de luminosidad de la pantalla para escanear el código QR en el proceso de verificación. </p>
            <p>El usuario  se compromete a instalar las actualizaciones ofrecidas por Lidl. Durante la utilización del software, Lidl le informará al respecto. </p>

            <h3>6. Obligaciones del usuario</h3>
            <p>El usuario tiene las siguientes obligaciones:</p>
            <ul>
                <li>indicar datos correctos durante el registro y mantener actualizado su perfil;</li>
                <li>mantener en secreto su contraseña y modificarla en caso de abuso o sospecha de abuso;</li>
                <li>utilizar el Servicio conforme al derecho aplicable.</li>
            </ul>

            <h3>7. Responsabilidad</h3>
            <p>Lidl no asume responsabilidad en caso de que</p>
            <ul>
                <li>el terminal o la App no funcionen o lo hagan solo de manera limitada</li>
                <li>no haya disponible una conexión WI-FI o solo lo esté de manera limitada</li>
                <li>el dispositivo de escaneo no funcione correctamente en la caja </li>
                <li>no estén disponibles las ofertas</li>
            </ul>

            <h3>8. Rescisión, anulación</h3>
            <p>El usuarios tiene derecho a rescindir en cualquier momento, y por cualquier motivo la participación accionando la función “Cancelar cuenta de Usuario”. De igual modo, Lidl Stiftung tiene derecho de rescisión sin informar sobre un motivo importante en cualquier momento, con un plazo de preaviso de 10 días. Esto no afecta al derecho de las Partes a una rescisión extraordinaria por razones importantes. </p>

            <h3>9. Cambio en las condiciones de participación</h3>
            <p>Lidl Stiftung puede modificar estas condiciones de participación conforme a esta sección. Siempre podrás solicitar la versión actual de las condiciones de participación. En las propias condiciones se informa sobre el estado de las condiciones de participación. </p>
            <p>Podemos modificar las presentes condiciones de participación siempre que tales cambios sirvan para un interés justificado por nuestra parte, en especial una realizar mejor prestación, y tengamos en cuenta los intereses de los clientes.</p>
            <p>Si Lidl Stiftung modifica las condiciones de participación, Lidl Stiftung informará por correo electrónico a los Usuarios y facilitará las nuevas condiciones de participación. En caso de que el Usuario no recurra la validez de las nuevas condiciones de participación en el plazo de 4 semanas, se consideran aceptadas las condiciones de participación modificadas. Lidl Stiftung informará de ello mediante un correo electrónico. </p>
            <p>En caso de que el Usuario recurra las condiciones de participación modificadas, la Lidl Stiftung tiene derecho a rescindir la relación obligacional.</p>

            <h3>10. Disposiciones finales</h3>
            <p>Las presentes Condiciones de Uso se interpretarán y regirán de conformidad con la legislación española vigente. Las partes renuncian expresamente al fuero que les pudiera corresponder y someten expresamente a los Tribunales y Juzgados de Barcelona para resolver cualquier controversia que pueda surgir en la interpretación o ejecución de las presentes condiciones contractuales.</p>

        </div>

    </section>
