---
layout: others
class: faqs
title: Bases legales Rasca Plus
---

    <section class="row">

        <div class="content small-10 small-offset-1 columns end">
            <h3>1. Objeto del sorteo</h3>
            <p>
                LIDL Supermercados S.A.U. (en adelante LIDL), convoca el presente sorteo, de carácter gratuito, denominado "Rasca Plus" en base a los requisitos estipulados en las siguientes bases para para las tiendas con el programa Lidl Plus incluidas en la web www.lidlplus.es/tiendas (en adelante TIENDAS LIDL PLUS).
            </p>

            <h3>2. Participantes</h3>
            <p>Podrán participar en el sorteo todas las personas físicas que cumplan todos los requisitos a continuación descritos:</p>
            <ul>
                <li>Registrados en la aplicación móvil Lidl Plus. Dicha aplicación está disponible en la ‘App Store’ si el dispositivo es iPhone, o en ‘Google Store’ si el dispositivo es Android.</li>
                <li>Residentes en España. </li>
                <li>Con una edad mínima de 18 años.</li>
                <li>Participar en el sorteo “Rasca Plus " de acuerdo con las condiciones establecidas en el punto 4.</li>
                <li>Aceptar las normas de participación y de protección de datos.</li>
                <li>El personal de LIDL, así como sus familiares hasta primer grado no podrán participar en el sorteo.</li>
            </ul>

            <h3>3.- Premios</h3>
            <ul>
                <li>
                    Habrá dos tipos de premios:
                    <ul>
                        <li>Una compra gratis: Un cupón descuento por valor de la compra premiada. Se otorgará un premio de compra gratis al día entre las tiendas de Zaragoza provincia. El valor máximo del cupón será de 50€.</li>
                        <li>Cupones descuento: Se otorgarán cupones de descuento de ‘1€’ (sobre el total de la compra) y cupones de descuento de 10%, 20% y 30% sobre un producto concreto de alimentación del surtido fijo disponible en los supermercados Lidl en la provincia de Zaragoza.</li>
                    </ul>
                </li>
                <li>El cupón ganado podrá ser canjeado a partir de la siguiente compra y durante el periodo de validez que figura en el cupón.</li>
                <li>Los cupones no serán físicos, sino que estarán disponibles en la aplicación móvil Lidl Plus, desde donde podrán ser canjeados.</li>
                <li>El premio es intransferible y no podrá  ser canjeado  en ningún caso por su contravalor en dinero ni ser objeto de sustitución, cambio de fechas, alteración o compensación alguna.</li>
                <li>Queda prohibida la comercialización y/o venta del premio.</li>
                <li>
                    Los premios se asignarán de dos formas distintas (según tipo de premio):
                    <ul>
                        <li>PREMIOS DE “UNA COMPRA GRATIS”: Se obtendrán mediante momento ganador: <br> A través de un programa informático, se generará un “momento ganador” para cada uno de los días en que el sorteo esté vigente. Correspondiendo un momento ganador por cada Premio. Dichos “momentos ganadores” estarán compuestos de un día, hora, minuto y segundo concreto, y serán absolutamente confidenciales. La mecánica del “momento ganador” consiste en que si al usuario se le asigna un rasca (cuando se genera un ticket de compra al identificarse en caja) y este momento corresponde con uno de los “momentos ganadores” previamente establecidos, se le comunicará inmediatamente al participante, mediante un mensaje de aviso en pantalla, que ha resultado ganador de una compra gratis. Si no se produjera ninguna coincidencia con un “momento ganador”, el Premio corresponderá al primer usuario que rasque un Rasca Plus inmediatamente a continuación de dicho “momento ganador”.</li>
                        <li>PREMIOS DE CUPONES DESCUENTO (1€, 10%, 20% o 30%): El sorteo será aleatorio y los ganadores serán seleccionados de forma aleatoria vía informática.</li>
                    </ul>
                </li>
            </ul>

             <h3>4. Procedimiento de participación en el sorteo</h3>
             <p>Desde el 24/04/2017 a las 09:00 horas hasta el 31/08/2017 a las 23:59  horas se podrá participar en el sorteo llamado "Rasca Plus”  que aparecerá en la aplicación móvil de Lidl plus.</p>
             <p>Tras realizar la compra, siempre y cuando el usuario se haya identificado con su tarjeta digital Lidl Plus en caja (con el teléfono móvil o identificándose por voz con su número de teléfono), éste recibirá una notificación en el dispositivo móvil informándole que ya tiene disponible en la aplicación móvil un nuevo ‘Rasca Plus’.</p>
             <p>Sólo en el caso de que el usuario haya realizado una compra anterior en un tiempo menor a una hora, su compra no tendrá ningún Rasca Plus asociado.</p>
             <p>Al acceder a uno de los Rascas en la aplicación móvil Lidl Plus, y siempre y cuando éste no haya caducado, le aparecerá al usuario una zona donde deberá “rascar” con el dedo para descubrir qué mensaje se esconde, así como la fecha de validez del Rasca. Anteriormente, el usuario tendrá que aceptar las condiciones legales para poder participar.</p>
             <p>Si el Rasca Plus no resulta premiado, se le mostrará un mensaje comunicándole que su Rasca no ha sido premiado. Y además el rasca jugado desaparecerá del listado de Rascas con una pequeña animación de eliminación.</p>
             <p>Si el Rasca plus resulta premiado, se le mostrará un mensaje de felicitación informándole que ya tiene disponible el cupón descuento. El Rasca plus jugado desaparecerá con una pequeña animación que haga que éste se convierta en un cupón y aparezca en el listado de cupones de descuento en primera posición. El cupón con el premio podrá ser utilizado hasta 7 días de lunes a domingo (durante las horas en que las tiendas permanezcan abiertas) después de la consecución del premio (si pasado este tiempo no ha hecho uso del descuento el cupón desaparecerá de su listado de cupones).</p>
             <p>En el caso de que un usuario empiece a rascar uno de los Rasca Plus pero no complete toda la acción y salga de la pantalla, se le informará que no ha finalizado la acción y que por lo tanto no sabrá si ha sido ganador o no. Éste no desaparecerá del listado sino que se mantendrá hasta que finalice la acción o caduque la promoción. La próxima vez que acceda encontrará el Rasca Plus totalmente cubierto y tendrá que volver a empezar.</p>
             <p>En el caso de que un Rasca premiado haya caducado (la promoción ha finalizado) desaparecerá del listado de cupones.</p>

             <h3>5.- Comunicación del resultado a los premiados</h3>
             <p>La entrega de los premios siempre se hará en formato cupón en la aplicación móvil Lidl Plus.</p>
             <p>LIDL se pondrá en contacto con los ganadores vía aplicación Lidl plus, a través de una notificación.</p>
             <p>Además se harán públicos diariamente los nombres de los ganadores de la compra gratuita de la jornada anterior en la web www.lidlplus.es/rasca.</p>
             <p>El nombre de los ganadores podrá ser público durante 7 días naturales.</p>

             <h3>6.- Publicidad de ganadores</h3>
             <p>Los ganadores del sorteo aceptan y autorizan a que su nombre pueda aparecer en la página web lidlplus.es o en cualquier otro soporte comercial, publicitario o medio de comunicación que pueda utilizar LIDL a fin de informar y hacer público el resultado del sorteo realizado.</p>

             <h3>7. - Protección de Datos</h3>
             <p>En  cumplimiento  de  lo  previsto  en  la  Ley  Orgánica  15/1999,  de  13  de  diciembre,  de  Protección  de  Datos  de  Carácter  Personal  (“LOPD”)  y  el  Real  Decreto  1720/2007,  de  21  de  diciembre,  por  el  que  se  aprueba  el  Reglamento  de  desarrollo  de  la  LOPD  (el  “Reglamento”), los datos aportados  por  los  participantes  serán  incorporados  a  un  fichero de titularidad de Lidl Supermercados S.A.U, con domicilio en c/ Beat Oriol, s/n, Pol. Ind. "La Granja", 08110-Montcada i Reixac (Barcelona), con la finalidad de gestionar el desarrollo del sorteo "Rasca Plus”, así como del programa de fidelización “Lidl Plus” del que los participantes del sorteo ya forman parte.</p>
             <p>Los participantes  que  lo  deseen,  podrán ejercer  sus  derechos  de  acceso,  rectificación,   oposición  y  cancelación  dirigiendo la solicitud por carta a la dirección Lidl Supermercados S.A.U., C/Beat Oriol, s/n, Pol. Ind. "La Granja", 08110-Montcada i Reixac (Barcelona), referencia Protección de Datos,  junto con una copia de su Documento Nacional de Identidad  o  documento  acreditativo equivalente, indicando el derecho que desea ejercitar.</p>
             <p>Lidl Supermercados S.A.U. se compromete a tratar en todo momento los datos de carácter personal de todos los participantes de forma absolutamente confidencial y de acuerdo con las finalidades previstas en la presente cláusula, y adoptará las medidas de índole técnica y  organizativas  necesarias  que  garanticen  la  seguridad  de  sus  datos  y  eviten  su  alteración,  pérdida,  tratamiento  o  acceso  no  autorizado,  habida  cuenta  del  estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, todo ello en cumplimiento de lo dispuesto en el Reglamento.</p>

             <h3>8.- Responsabilidades</h3>
             <p>Todo participante en el sorteo entiende y acepta que LIDL no es ni se hace responsable de errores, pérdidas o irregularidades que puedan producirse al enviar la información, ocasionados por interferencias en la comunicación o por cualquier otro error u omisión derivados de problemas de telecomunicaciones, de tráfico, congestión o conexión a Internet, o cualquier otra causa no imputable a LIDL.</p>
             <p>LIDL no se hace responsable, ni de forma directa ni indirecta, de daños o perjuicios derivados de la participación en el sorteo. Asimismo, no se hace responsable de cualquier problema técnico, de telecomunicaciones, de tráfico, congestión o conexión a Internet.</p>
             <p>LIDL únicamente responderá por daños causados de forma dolosa, por imprudencia grave o incumplimiento de las obligaciones contractuales esenciales.</p>
             <p>Asimismo, LIDL no asume responsabilidad alguna en relación con el desarrollo, evolución y/o ejecución del evento vinculado al premio, estando totalmente exenta de cualquier reclamación.</p>

             <h3>9.- Exclusión</h3>
             <p>Ante la posible infracción de las normas de participación, LIDL se reserva el derecho a excluir sin previo aviso al infractor e impedir su participación. Será descartada la participación de todo aquel usuario que emplee medios no permitidos (p.ej. herramientas de hacker, virus, troyanos, etc.). También podrá ser excluido todo aquel que participe en nombre de terceras personas (con o sin el conocimiento o consentimiento de éstas últimas). No está permitida la participación en el sorteo a través de grupos de juego, servicios automáticos o servicios profesionales.</p>

             <h3>10.- Interrupción anticipada</h3>
             <p>LIDL se reserva el derecho a interrumpir el sorteo en cualquier momento sin previo aviso por razones que se presenten fuera de su control. El organizador se verá obligado a tomar esta decisión por razones técnicas (p. ej. Virus en el sistema, manipulación o fallos en el hardware o software, etc.) o si por razones legales el sorteo no pudiera desarrollarse según las bases establecidas. Si el cese es debido a un comportamiento inadecuado por parte de algún participante, el organizador tendrá derecho a reclamar daños y perjuicios contra éste.</p>

             <h3>11.- Impuestos</h3>
             <p>Los premios objeto de este sorteo estarán sujetos a lo dispuesto en la legislación tributaria o fiscal de aplicación vigente en cada momento. El valor de los premios en algunos casos se encuentra sujeto a retención e IRPF. Por este motivo los ganadores deberán facilitar, previo a la recepción del premio, los datos necesarios para poder emitir el certificado fiscal correspondiente. Al margen de esta aportación, las repercusiones en las obligaciones fiscales de dichos ganadores serán por cuenta propia, por lo que LIDL queda relevado de cualquier otra responsabilidad. LIDL se reserva el derecho de reclamar el DNI con la finalidad de emitir los correspondientes certificados fiscales.</p>
             <p>El hecho de participar en este sorteo supone la aceptación sin reservas de estas bases.</p>

            <p>Montcada i Reixac (Barcelona), a 18 de mayo de 2017.</p>
        </div>

    </section>
