---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Cupones</h1>
</header>

<section class="row">

    <div class="orbit cupones" role="region" aria-label="Cupones" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/cupones-1.png, small], [/img/ayudas/android/cupones-1@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">En Cupones podrás activar los cupones que quieras usar en caja, siempre que no sean incompatibles unos con otros.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/cupones-2.png, small], [/img/ayudas/android/cupones-2@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">Accede al detalle del cupón para obtener toda la información relacionada con el producto y la validez de la oferta.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/cupones-3.png, small], [/img/ayudas/android/cupones-3@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">Una vez en caja, escanea tu tarjeta digital para aplicar todos los descuentos que hayas elegido para tu compra.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        </nav>
    </div>

</section>
