---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Notificaciones</h1>
</header>

<section class="row">

    <div class="orbit notificaciones" role="region" aria-label="Notificaciones" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/alertas-1.png, small], [/img/ayudas/android/alertas-1@2x.png, retina]" width="250" alt="Notificaciones">
                <figcaption class="orbit-caption">En Inicio encontrarás una campana que te avisará de tus mensajes entrantes y que te permite acceder al centro de notificaciones.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/alertas-2.png, small], [/img/ayudas/android/alertas-2@2x.png, retina]" width="250" alt="Notificaciones">
                <figcaption class="orbit-caption">En el Centro de notificaciones podrás leer tus mensajes pendientes y borrar los que no te interesen.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/alertas-3.png, small], [/img/ayudas/android/alertas-3@2x.png, retina]" width="250" alt="Notificaciones">
                <figcaption class="orbit-caption">En el apartado de Alertas de tu perfil podrás configurar las notificaciones que quieres que te lleguen.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        </nav>
    </div>

</section>
