---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Historial de tiques</h1>
</header>

<section class="row">

    <div class="orbit tiques" role="region" aria-label="Historial de tiques" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/tiques-1.png, small], [/img/ayudas/android/tiques-1@2x.png, retina]" width="250" alt="Tiques">
                <figcaption class="orbit-caption">El Historial de tickets almacenará los tickets de todas las compras que hagas identificándote como cliente de Lidl Plus.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/tiques-2.png, small], [/img/ayudas/android/tiques-2@2x.png, retina]" width="250" alt="Tiques">
                <figcaption class="orbit-caption">Marca como favoritos los tickets que quieras localizar rápidamente clicando a la estrella de la parte superior.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/tiques-3.png, small], [/img/ayudas/android/tiques-3@2x.png, retina]" width="250" alt="Tiques">
                <figcaption class="orbit-caption">Encontrarás los cupones que hayas utilizado en una compra en la parte inferior del detalle del ticket.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/android/tiques-4.png, small], [/img/ayudas/android/tiques-4@2x.png, retina]" width="250" alt="Tiques">
                <figcaption class="orbit-caption">Utiliza los filtros para buscar más fácilmente un ticket siempre que lo necesites.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
    </div>

</section>
