---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Folletos</h1>
</header>

<section class="row">

    <div class="orbit folletos" role="region" aria-label="Folletos" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            
            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/folletos-1.png, small], [/img/ayudas/ios/folletos-1@2x.png, retina]" width="250" alt="Folletos">
                <figcaption class="orbit-caption">Entra al apartado folletos desde el menú inferior o accede a tu Folleto preferido desde la pantalla Inicio.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/folletos-2.png, small], [/img/ayudas/ios/folletos-2@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">Disfruta siempre que quieras del folleto de ofertas semanales sin salir de tu App.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        </nav>
    </div>

</section>
