---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Precios Lidl Plus</h1>
</header>

<section class="row">

    <div class="orbit precios" role="region" aria-label="Precios Lidl Plus" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/precios-1.png, small], [/img/ayudas/ios/precios-1@2x.png, retina]" width="250" alt="Precios LP">
                <figcaption class="orbit-caption">Accede a la sección Precios Lidl+ desde Inicio o con el menú inferior y descubre los Precios Lidl Plus disponibles.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/precios-2.jpg, small], [/img/ayudas/ios/precios-2@2x.jpg, retina]" width="250" alt="Precios LP">
                <figcaption class="orbit-caption">Busca los productos en tienda y disfruta siempre de estos descuentos adicionales en tu cesta de la compra.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/precios-3.png, small], [/img/ayudas/ios/precios-3@2x.png, retina]" width="250" alt="Precios LP">
                <figcaption class="orbit-caption">Cuando estés en caja, abre tu tarjeta digital personal y escanea el código QR con el lector.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        </nav>
    </div>

</section>
