---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Rasca Plus</h1>
</header>

<section class="row">

    <div class="orbit rasca" role="region" aria-label="Rasca Plus" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            
            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/rasca-1.png, small], [/img/ayudas/ios/rasca-1@2x.png, retina]" width="250" alt="Rasca Plus">
                <figcaption class="orbit-caption">Cada vez que hagas una compra te aparecerá un Rasca Plus en tu pantalla Inicio.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/rasca-2.png, small], [/img/ayudas/ios/rasca-2@2x.png, retina]" width="250" alt="Rasca Plus">
                <figcaption class="orbit-caption">Prueba suerte con tu rasca antes de que caduque 1 semana; entrando y pasando el dedo por la pantalla.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/rasca-3.png, small], [/img/ayudas/ios/rasca-3@2x.png, retina]" width="250" alt="Rasca Plus">
                <figcaption class="orbit-caption">Si tu Rasca Plus tiene premio, añadiremos tu cupón automáticamente en el apartado Cupones de tu App.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        </nav>
    </div>

</section>
