---
layout: app
class: ayuda-app
ayuda: true
---


<header class="header row">
    <h1>Lidl Plus - Ayuda - Tarjeta Lidl Plus</h1>
</header>

<section class="row">

    <div class="orbit tarjeta" role="region" aria-label="Tarjeta Lidl Plus" data-orbit data-auto-play="false" data-swipe="true" data-infinite-wrap="false" data-accessible="false">
        <ul class="orbit-container">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
            
            <li class="is-active orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/tarjeta-1.png, small], [/img/ayudas/ios/tarjeta-1@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">Accede desde la pantalla Inicio a tu tarjeta digital de cliente para beneficiarte de las ventajas Lidl Plus.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/tarjeta-2.png, small], [/img/ayudas/ios/tarjeta-2@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">También está disponible en el apartado Perfil que encontrarás apretando el botón Más en el menú.</figcaption>
            </li>
            <li class="orbit-slide">
                <img class="orbit-image" data-interchange="[/img/ayudas/ios/tarjeta-3.png, small], [/img/ayudas/ios/tarjeta-3@2x.png, retina]" width="250" alt="Cupones">
                <figcaption class="orbit-caption">Además, pon el móvil en horizontal para acceder a tu tarjeta más rápidamente.</figcaption>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        </nav>
    </div>

</section>
