<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lidl Plus - Home</title>

        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

        <link rel="stylesheet" href="/css/all.css">

        <!-- Countly -->
        <script type='text/javascript'>

            //some default pre init
            var Countly = Countly || {};
            Countly.q = Countly.q || [];

            //provide your app key that you retrieved from Countly dashboard
            Countly.app_key = "b00503e8909987e8b58f75832e53ec70b8d87db0";

            //provide your server IP or name. Use try.count.ly for EE trial server.
            //if you use your own server, make sure you have https enabled if you use
            //https below.
            Countly.url = "https://countly.lidlplus.es";

            //start pushing function calls to queue
            //track sessions automatically
            Countly.q.push(['track_sessions']);

            //track pages automatically
            Countly.q.push(['track_pageview']);

            //track clicks on last reported view automatically
            Countly.q.push(['track_clicks']);

            //track click to specific links
            Countly.q.push(['track_links']);

            //load countly script asynchronously
            (function() {
              var cly = document.createElement('script'); cly.type = 'text/javascript';
              cly.async = true;
              //enter url of script here
              cly.src = 'https://countly.lidlplus.es/sdk/web/countly.min.js';
              cly.onload = function(){Countly.init()};
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
            })();
        </script>

    </head>

    <body class="{{class}}">

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5BCZ5D"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5BCZ5D');</script>
        <!-- End Google Tag Manager -->

        <!-- Page content -->

        {{!-- Pages you create in the pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}


        <script src="/js/jquery.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/all.js"></script>
    </body>
</html>
