<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lidl Plus - Home</title>

        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

        <!-- IOS
        app-id: (Required.) Your app's unique identifier. To find your app ID from the iTunes Link Maker,
        type the name of your app in the Search field, and select the appropriate country and media type.
        In the results, find your app and select iPhone App Link in the column on the right.
        Your app ID is the nine-digit number in between id and ?mt.
        i.e: https://itunes.apple.com/es/app/lidl/id398474140?mt=8
        -->
        <!--meta name="apple-itunes-app" content="app-id=465984761"-->

        <!-- ANDROID
        app-id: (Required) Your app's unique identifier. To find you app ID from the Google Play link,
        type the name of your app in the Search field, and select the appropriate country and media type.
        In the results, find your app and select App Link.
        i.e : https://play.google.com/store/apps/details?id=de.sec.mobile&hl=es
        -->
    	<!--meta name="google-play-app" content="app-id=de.sec.mobile"-->
    	<!-- Android APP Icon url (optional)-->
    	<!--meta name="msapplication-TileImage" content="https://lh5.ggpht.com/JdjFkmc8NgO0JDWkegjFpIVXHq4oveTsMm9FN9de2Dt0ZYuB1_jaTT4CxskrRvY9i7kh=w300-rw" /-->


        <link rel="stylesheet" href="/css/jquery.smartbanner.css">
        <link rel="stylesheet" href="/css/all.css">
    	<link href="/css/smart-app-banner.min.css" rel="stylesheet">


        <!-- Countly -->
        <script type='text/javascript'>

            //some default pre init
            var Countly = Countly || {};
            Countly.q = Countly.q || [];

            //provide your app key that you retrieved from Countly dashboard
            Countly.app_key = "b00503e8909987e8b58f75832e53ec70b8d87db0";

            //provide your server IP or name. Use try.count.ly for EE trial server.
            //if you use your own server, make sure you have https enabled if you use
            //https below.
            Countly.url = "https://countly.lidlplus.es";

            //start pushing function calls to queue
            //track sessions automatically
            Countly.q.push(['track_sessions']);

            //track pages automatically
            Countly.q.push(['track_pageview']);

            //track clicks on last reported view automatically
            Countly.q.push(['track_clicks']);

            //track click to specific links
            Countly.q.push(['track_links']);

            //load countly script asynchronously
            (function() {
              var cly = document.createElement('script'); cly.type = 'text/javascript';
              cly.async = true;
              //enter url of script here
              cly.src = 'https://countly.lidlplus.es/sdk/web/countly.min.js';
              cly.onload = function(){Countly.init()};
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
            })();
        </script>

    </head>

    <body class="{{class}}">

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5BCZ5D"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5BCZ5D');</script>
        <!-- End Google Tag Manager -->

        <div class="cookie-banner cookie-layer callout" data-closable>
            <p>Este portal utiliza cookies para mejorar la navegación de los usuarios a través de nuestro portal y no almacenamos ningún dato de tipo personal. Si continúas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u obtener más información sobre las cookies de LIDL <a href="politica-cookies.html">aquí</a>.</p>
            <button class="close-button close" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <header class="alternative-header">
            <h1>Lidl Plus</h1>

            <div class="row">
                <div class="small-12 medium-8 columns">
                    <a href="/"><img class="logo-lidlplus" data-interchange="[/img/logo_lidlplus_big.png, small], [/img/logo_lidlplus_big@2x.png, retina]" alt="Lidl Plus" width="77"></a>
                    <h2>{{title}}</h2>
                </div>
                <div class="small-12 medium-4 columns hide-for-small-only">
                    <p class="back"><a href="/">Volver al inicio</a></p>
                </div>
            </div>
        </header>

        <!-- Page content -->

        {{!-- Pages you create in the pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}

        <section class="descarga expanded align-middle align-center row">

            <div class="small-12 columns text-center">
                <img data-interchange="[/img/ico-lidlplus.png, small], [/img/ico-lidlplus@2x.png, retina]" alt="Lidl Plus" width="158"><br class="hide-for-large">

                Descárgate ahora tu aplicación <br class="hide-for-large">Lidl Plus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br class="hide-for-large"><br class="hide-for-large">

                <a href="https://play.google.com/store/apps/details?id=com.lidl.eci.lidlplus.es" target="_blank" class="android google-download"><img src="/img/google-play-badge.png" alt="Disponible en Google Play" width="135"></a><br class="hide-for-large"><br class="hide-for-large">
                <a href="https://itunes.apple.com/us/app/lidl-plus-zaragoza/id1133864850?ls=1&mt=8" target="_blank" class="ios ios-download"><img src="/img/Download_on_the_App_Store_Badge_ES_135x40.svg" alt="Consíguelo en el App Store"></a>
            </div>
        </section>

        <footer>
            <div class="row">
                <div class="column large-3">
                    <div class="lidl-plus medium-6 large-12 column">
                        <img data-interchange="[/img/logo_lidlplus.png, small], [/img/logo_lidlplus@2x.png, retina]" alt="Lidl Plus" width="66">
                        <p>Lidl Plus es el nuevo programa de ventajas y descuentos de Lidl.</p>
                    </div>

                    <div class="lidl medium-6 large-12 column">
                        <img data-interchange="[/img/logo_lidl.jpg, small], [/img/logo_lidl@2x.jpg, retina]" alt="Lidl" width="62">
                        <p><strong>Lidl - un grupo internacional.</strong><br>Somos una exitosa cadena de supermercados que apuesta por la expansión más allá de las fronteras de Europa.</p>
                    </div>
                </div>
                <div class="column large-8 medium-offset-1">
                    <div class="row small-up-1 medium-up-3">
                        <div class="column">
                            <h4>Enlaces</h4>
                            <ul class="vertical menu secondary">
                                <li><a href="/index.html">Inicio</a></li>
                                <li><a href="/cupones.php">Cupones</a></li>
                                <li><a href="/precios.php">Precios Lidl Plus</a></li>
                                <li><a href="/faqs.html">FAQs</a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <h4>Información</h4>
                            <ul class="vertical menu secondary">
                                <li><a href="/condiciones-uso.html">Condiciones de uso</a></li>
                                <li><a href="/proteccion-datos.html">Protección de datos</a></li>
                                <li><a href="/aviso-legal.html">Aviso legal</a></li>
                                <li><a href="/empresas">Grupo empresarial Lidl</a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <h4>Contacto</h4>
                            <ul class="vertical menu secondary">
                                <li><a href="/contacto">Formulario de contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/smart-app-banner.min.js"></script>
        <script src="/js/all.js"></script>
    </body>
</html>
