---
layout: default
class: error
---



    <header class="header row">
        <h1>Lidl Plus - Error 404</h1>
        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="row text-center">
        <div class="image small-12 columns">
            <img data-interchange="[img/404.png, small], [img/404@2x.png, retina]" alt="" width="230">
        </div>
        <h2 class="title small-12 columns">Error 404, página no encontrada</h2>
        <div class="content small-12 columns">
            <p><a href="/">Volver a la página principal</a></p>
        </div>

    </section>
