---
layout: default
class: mensaje
---



    <header class="header row">
        <h1>Lidl Plus - Validación email</h1>
        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="row text-center">
        <!--h2 class="title small-12 columns">Tu email ha sido validado</h2-->
        <div class="image small-12 columns">
            <img data-interchange="[img/icono_app.png, small], [img/icono_app@2x.png, retina], [img/icono_app@2x.png, medium], [img/icono_app@2x.png, large]" alt="" width="107">
        </div>

        <div class="content small-12 columns">
            <p>Para finalizar el proceso de recordar contraseña, debes abrir este correo en tu dispositivo móvil que tenga la App instalada, gracias.</p>
            <p><a href="/">Volver a la página principal</a></p>
        </div>

    </section>
