---
layout: others
class: faqs
aviso-legal: true
title: Aviso legal
---

    <section class="row">

        <div class="content small-10 small-offset-1 columns end">
            <h3>1. Datos Identificativos</h3>
            <p>LIDL SUPERMERCADOS, S.A.U., con domicilio en C/ Beat Oriol, s/n. Pol. Ind. La Granja, 08110 Montcada i Reixac (Barcelona) y con C.I.F. A60195278, inscrita en el Registro Mercantil de Barcelona, tomo 25173, folio 001 (en adelante LIDL) es la titular del portal http://www.lidlplus.es/ y pone el mismo a disposición de los usuarios de Internet, con el fin de proporcionar información sobre los productos y ofertas de LIDL, llevar a cabo un programa de fidelización de clientes, así como permitir la prestación de distintos servicios a través del portal.</p>

            <h3>2. Uso del portal</h3>
            <p>El acceso y/o uso del portal https://www.lidlplus.es/ atribuye la condición de usuario, que acepta, desde dicho acceso y/o uso, las condiciones de uso aquí reflejadas. Las citadas Condiciones serán de aplicación independiente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento.</p>
            <p>El Usuario se compromete a la correcta utilización de la web y utilidades que se le proporcionen conforme a la ley, el presente documento legal, y las instrucciones y avisos que se le comuniquen.</p>
            <p>El Usuario se obliga al uso exclusivo de la web, y todos sus contenidos, para fines lícitos y no prohibidos, que no infrinjan la legalidad vigente y/o puedan resultar lesivos de los derechos legítimos de LIDL o de cualquier tercero, y/o que puedan causar cualquier daño o perjuicio de forma directa o indirecta.</p>
            <p>A tal efecto, el Usuario se abstendrá de utilizar cualquiera de los contenidos de la página web con fines o efectos ilícitos, prohibidos en el presente Documento Legal, lesivos de los derechos e intereses de terceros o que, de cualquier forma, puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de la web, los equipos informáticos o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático (hacking) de LIDL, de otros Usuarios o de cualquier usuario de Internet (hardware y software).</p>
            <p>En particular, y a título meramente indicativo y no exhaustivo, el Usuario se compromete a no transmitir, difundir o poner a disposición de terceros informaciones, datos, contenidos, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, software y, en general, cualquier clase de material que:</p>
            <ul>
                <li>De cualquier forma sea contrario, menosprecie o atente contra los derechos fundamentales y las libertades públicas reconocidas constitucionalmente, en los Tratados internacionales y en el resto de la legislación</li>
                <li>Induzca, incite o promueva actuaciones delictivas, denigratorias, difamatorias, infamantes, violentas o, en general, contrarias a la ley, a la moral y buenas costumbres generalmente aceptadas o al orden público</li>
                <li>Induzca, incite o promueva actuaciones, actitudes o pensamientos discriminatorios por razón de sexo, raza, religión, creencias, edad o condición</li>
                <li>Incorpore, ponga a disposición o permita acceder a productos, elementos, mensajes y/o servicios delictivos, violentos, ofensivos, nocivos, degradantes o, en general, contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público</li>
                <li>Sea falso, ambiguo, inexacto, exagerado o extemporáneo, de forma que induzca o pueda inducir a error sobre su objeto o sobre las intenciones o propósitos del comunicante</li>
                <li>Se encuentre protegido por cualesquiera derechos de propiedad intelectual o industrial pertenecientes a terceros, sin que el Usuario haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar</li>
                <li>Viole los secretos empresariales de terceros</li>
                <li>Sea contrario al derecho al honor, a la intimidad personal y familiar o a la propia imagen de las personas</li>
                <li>De cualquier manera menoscabe el crédito de LIDL SUPERMERCADOS, S.A.U. o de terceros</li>
                <li>Infrinja la normativa sobre secreto de las comunicaciones</li>
                <li>Constituya, en su caso, publicidad ilícita, engañosa o desleal y, en general, que constituya competencia desleal</li>
                <li>Incorpore virus u otros elementos físicos o electrónicos que puedan dañar o impedir el normal funcionamiento de la red, del sistema o de equipos informáticos (hardware y software) de LIDL SUPERMERCADOS, S.A.U. o de terceros o que puedan dañar los documentos electrónicos y archivos almacenados en dichos equipos informáticos</li>
                <li>Provoque por sus características (tales como formato, extensión, etc.) dificultades en el normal funcionamiento del Servicio</li>
            </ul>
            <p>De conformidad con lo dispuesto anteriormente, el Usuario se compromete a utilizar los contenidos puestos a disposición de los Usuarios en el sitio web, entendiendo por estos, sin que esta enumeración tenga carácter limitativo, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, los "Contenidos"), de conformidad con la ley, el presente Documento Legal, los demás avisos, reglamentos de uso e instrucciones puestos en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público, y, en particular, se compromete a abstenerse de:</p>
            <ul>
                <li>reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido</li>
                <li>suprimir, manipular o de cualquier forma alterar el "copyright" y demás datos identificativos de la reserva de derechos de LIDL, de las huellas digitales o de cualesquiera otros medios técnicos establecidos para su reconocimiento. El Usuario deberá abstenerse de obtener e incluso de intentar obtener los Contenidos empleando para ello medios o procedimientos distintos de los que, según los casos, se hayan puesto a su disposición a este efecto o se hayan indicado a este efecto en la página web donde se encuentren los Contenidos o, en general, de los que se empleen habitualmente en Internet a este efecto siempre que no entrañen un riesgo de daño o inutilización del sitio web, de los Servicios y/o de los Contenidos.</li>
            </ul>
            <p>El portal de lidlplus proporciona el acceso a información y promoción de servicios, programas o datos (en adelante "los contenidos") en Internet pertenecientes a lidlplus o a sus licenciantes a los que el usuario puede tener acceso. El usuario acepta que el uso del portal, de los contenidos y/o de los servicios se lleva a cabo bajo su única y exclusiva responsabilidad. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios o contenidos. En dicho registro el usuario será responsable de aportar información veraz y lícita. Como consecuencia de este registro al usuario se le puede proporcionar una contraseña de la que será responsable, comprometiéndose a hacer uso diligente y proporcional de la misma.</p>

            <h3>3. Propiedad Intelectual e Industrial</h3>
            <p>El Usuario se obliga a respetar los derechos de propiedad industrial de LIDL. El uso o la concesión de acceso a la página Web no comportan el otorgamiento de derecho alguno sobre las marcas, nombres comerciales o cualquier otro signo distintivo que se utilicen en la misma.</p>
            <p>El usuario podrá descargarse la página web en su terminal siempre que sea para uso privado, sin ningún fin comercial, por lo que no podrá explotar, reproducir, distribuir, modificar, comunicar públicamente, ceder, transformar o usar el contenido de la web con fines públicos o comerciales.</p>
            <p>Asimismo, los Contenidos son propiedad intelectual de LIDL sin que puedan entenderse cedidos al Usuario, en virtud de lo establecido en este Documento Legal, ninguno de los derechos de explotación o cualesquiera otros que existen o puedan existir sobre dichos Contenidos más allá de lo estrictamente necesario para el correcto uso del Sitio web.</p>
            <p>LIDL por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su portal, así como de los elementos contenidos en el mismo (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc...), titularidad de LIDL o bien de sus licenciantes. Quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de LIDL. El usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de LIDL. </p>
            <p>Asimismo, los Contenidos son propiedad intelectual de LIDL sin que puedan entenderse cedidos al Usuario, en virtud de lo establecido en este Documento Legal, ninguno de los derechos de explotación o cualesquiera otros que existen o puedan existir sobre dichos Contenidos más allá de lo estrictamente necesario para el correcto uso del Sitio web.</p>
            <p>No se podrá establecer ningún vínculo al portal desde cualquier otra web o App sin previo y expreso consentimiento de LIDL.</p>

            <h3>4. Exclusión de garantías y responsabilidad</h3>
            <p>LIDL realiza los máximos esfuerzos para evitar cualquier error en los contenidos de la página web, pero no garantiza ni se responsabiliza de posibles errores en los contenidos de la web.</p>
            <p>LIDL no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>
            <p>LIDL excluye cualquier responsabilidad por daños y perjuicios de cualquier naturaleza eventualmente derivados de:</p>
            <ul>
                <li>La interrupción del funcionamiento o la falta de disponibilidad de acceso a la página web.</li>
                <li>La privacidad y seguridad en la utilización de la página web por parte del Usuario, y/o el acceso no consentido de terceros no autorizados.</li>
                <li>La eventual transmisión de elementos que afecten negativamente a los sistemas informáticos.</li>
                <li>La exactitud, exhaustividad y actualización puntual de los contenidos de su página Web.</li>
            </ul>

            <h3>5. Empleo de cookies y enlaces</h3>
            <p>LIDL podrá activar programas cookies mediante los cuales se reconozca al usuario con el ánimo de mejorar los servicios que presta y facilitar al máximo la navegación del usuario por sus websites. Las cookies se asocian únicamente a un usuario anónimo y su ordenador y no proporcionan referencias que permitan deducir datos personales del usuario. El usuario tiene la opción de impedir la generación de cookies, mediante la selección de la correspondiente opción en su programa navegador.</p>
            <p>LIDL pone a disposición de los usuarios enlaces o hipervínculos hacia otros sitios de Internet a efectos puramente informativos pero sin que LIDL conozca, controle, avale o recomiende los contenidos, productos o servicios facilitados por los sitios web a los que se establecen  enlaces. Por ello, LIDL no asume responsabilidad alguna por cualquier aspecto relativo a la página web a la que se establece un enlace o hipervínculo. Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades conectadas.</p>

            <h3>6. Modificaciones de las Condiciones de Uso y de los Contenidos</h3>
            <p>LIDL podrá en todo momento y sin previo aviso, modificar las presentes Condiciones de Uso, así como las condiciones particulares que, en su caso, se incluyan, mediante la publicación de dichas modificaciones en el portal con el fin de que puedan ser conocidas por los usuarios. Igualmente, LIDL se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su portal, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como forma en la que éstos aparezcan presentados o localizados en su portal.</p>

            <h3>7. Legislación aplicable y jurisdicción</h3>
            <p>Las presentes Condiciones de Uso se interpretarán y regirán de conformidad con la legislación española vigente. Las partes renuncian expresamente al fuero que les pudiera corresponder y someten expresamente a los Tribunales y Juzgados de Barcelona para resolver cualquier controversia que pueda surgir en la interpretación o ejecución de las presentes condiciones contractuales.</p>

            <p>&reg; Lidl Supermercados, S.A.U., calle Beat Oriol, s/n, Pol. Ind. La Granja. 08110 – Montcada i Reixac, Barcelona. Todos los derechos reservados.</p>
        </div>

    </section>
