---
layout: default
class: mensaje
---



    <header class="header row">
        <h1>Lidl Plus - Validación email</h1>
        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="row text-center">
        <h2 class="title small-12 columns error">Error en la validación</h2>
        <div class="image small-12 columns">
            <img data-interchange="[img/mail-error.png, small], [img/mail-error@2x.png, retina], [img/mail-error@2x.png, medium], [img/mail-error@2x.png, large]" alt="" width="152">
        </div>

        <div class="content small-12 columns">
            <p>¡Vaya! ha habido un problema. Por favor, vuelve a intentarlo más tarde.</p>
            <p><a href="/">Volver a la página principal</a></p>
        </div>

    </section>
