---
layout: default
class: mensaje
---



    <header class="header row">
        <h1>Lidl Plus - Validación email</h1>
        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="row text-center">
        <h2 class="title small-12 columns">Tu email ya ha sido validado</h2>
        <div class="image small-12 columns">
            <img data-interchange="[img/mail_validado.png, small], [img/mail_validado@2x.png, retina], [img/mail_validado@2x.png, medium], [img/mail_validado@2x.png, large]" alt="" width="152">
        </div>

        <div class="content small-12 columns">
            <p>Esta dirección de correo ya está validada. Gracias por intentar facilitarnos tanto nuestro trabajo ;)</p>
            <p><a href="/">Volver a la página principal</a></p>
        </div>

    </section>
