---
layout: others
class: faqs
faqs: true
title: Preguntas frecuentes
---

    <section class="row">

        <div class="content small-10 small-offset-1 columns end">
            <h3>¿Cómo funciona el programa?</h3>
            <p>¡Es muy fácil! Una vez registrado podrás beneficiarte de todas las ventajas que vayamos lanzando bajo el paraguas de la marca Lidl Plus.</p>

            <h3>¿Qué ventajas tiene Lidl Plus?</h3>
            <p>De momento, cuando te registres podrás disfrutar de cupones de descuento canjeables en caja, pero poco a poco iremos añadiendo beneficios para que tu compra sea cada vez mejor.</p>

            <h3>¿Qué he de hacer si ya me registré en el Wifi?</h3>
            <p>Si algún día te registraste a Lidl Plus en el Wifi de tienda para recibir cupones, lo único que has de hacer para beneficiarte del programa es descargarte la App e iniciar sesión con tu número de teléfono y la contraseña que elegiste en su día. Si no te acuerdas tranquilo, podrás cambiarla muy fácilmente.</p>

            <h3>¿Cómo me registro?</h3>
            <p>En esta primera fase, para registrarte deberás descargarte la App e iniciar un proceso de registro muy sencillo. Pronto podrás registrarte online y desde cualquiera de las tiendas adscritas al programa. Recuerda que para poderte registrar has de ser mayor de 16 años.</p>

            <h3>¿Dónde funciona el programa?</h3>
            <p>De momento funciona únicamente en nuestras cuatro tiendas de Zaragoza ciudad; Parque Oriente, Hispanidad, Parque Venecia y Avenida Expo. Y en las dos tiendas de Zaragoza provincia; Utebo y Cuarte de Huerva.</p>

            <h3>¿Cómo canjeo mis cupones en tienda?</h3>
            <p>Cuando estés en tienda, elige el producto o los productos con descuentos que desees, y al pasar por caja pasa el código de cupón por el lector de descuentos. Si quieres más detalle sobre cómo hacerlo busca la sección “Cómo canjeo mi cupón” dentro de la App o pregunta al personal de tienda. Recuerda que los cupones son personales e intransferibles y que solo podrás usar uno por compra.</p>

            <h3>¿Por qué tengo que validar mi cuenta por SMS?</h3>
            <p>
                La ley 25/2007 de conservación de datos obliga a identificar todas las conexiones realizadas desde un acceso público. <br>Por cierto, es gratis.*<br>
                <small>* Excepto costes de recepción en roaming cargados por tu operador (solo móviles extranjeros).</small>
            </p>

            <h3>¿Qué hago si no me llega el SMS de validación?</h3>
            <p>En la misma pantalla podrás contactar con nuestro departamento de Atención al Cliente (link) para solucionar el problema.</p>

            <h3>¿Mis cupones pueden canjearse por dinero real?</h3>
            <p>Lo sentimos pero no, solo los podrás canjear en caja por descuentos en tu compra.</p>

            <h3>Cuando me conecte a la red wifi, ¿la conexión es segura?</h3>
            <p>Lidl garantiza el mismo nivel de seguridad que cualquier conexión a Internet tradicional a través de una red pública. Además, aconsejamos que no compartas tu contraseña con nadie.</p>

            <h3>¿Mis datos están seguros?</h3>
            <p>Lidl cumple con toda la normativa en materia de seguridad de datos y se compromete a no compartir la información con terceros que no sean proveedores de los sistemas necesarios para llevar a cabo la labor de Lidl Plus.</p>

        </div>

    </section>
