---
layout: default
class: home
inicio: true
---


    <header class="header expanded row">
        <h1>Lidl Plus</h1>
        <img class="logo-lidlplus" data-interchange="[img/logo_lidlplus_big.png, small], [img/logo_lidlplus_big@2x.png, retina]" alt="Lidl Plus" width="209">

        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="que-es row">
        <h2 class="title small-12 columns">¿Qué es Lidl Plus?</h2>

        <ul class="row">
            <li class="small-12 large-4 columns">
                <div class="que-es-img"><img data-interchange="[img/descuentos.png, small], [img/descuentos@2x.png, retina]" alt="Ventajas y descuentos" width="175"></div>
                <h3>Un mundo de ventajas y descuentos</h3>
                <p>Lidl Plus es el programa de ventajas de Lidl. Ya seas comprador ocasional o estés enganchado a nuestras ofertas, con Lidl Plus saldrás ganando.</p>
            </li>

            <li class="small-12 large-4 columns">
                <div class="que-es-img"><img data-interchange="[img/contenido_perso.png, small], [img/contenido_perso@2x.png, retina]" alt="Contenido personalizado" width="175"></div>
                <h3>Contenido personalizado según tus gustos</h3>
                <p>Desde siempre hemos ofrecido productos de calidad al mejor precio. Ahora vamos más allá con un mundo de ventajas personalizadas para ti.</p>
            </li>

            <li class="small-12 large-4 columns">
                <div class="que-es-img"><img data-interchange="[img/donde_quieras.png, small], [img/donde_quieras@2x.png, retina]" alt="Ventajas y descuentos" width="175"></div>
                <h3>Accede cómo y cuándo quieras</h3>
                <p>Lidl Plus ha sido pensado para usarse desde la App, pero iremos añadiendo soportes y ventajas para que puedas usarlo como más te guste.</p>
            </li>
        </ul>
    </section>

    <section class="precios align-middle row">

        <div class="small-12 medium-6 columns show-for-small-only">
            <img data-interchange="[img/precios_image.png, small], [img/precios_image@2x.png, retina]" alt="" width="582">
        </div>

        <div class="precios-content small-10 small-offset-1 medium-5 large-4 large-offset-2 columns">
            <img data-interchange="[img/ico-precios.png, small], [img/ico-precios@2x.png, retina]" alt="" width="52">
            <h3 class="subtitle">Precios Lidl Plus</h3>
            <p>Ojea en la App el apartado "Precios Lidl Plus" o busca en tienda los carteles azules y haz tu carro de la compra más barato gracias a los nuevos precios Lidl Plus.</p>
            <p><a href="/precios.php" title="Precios Lidl Plus">Ver Precios Lidl Plus</a></p>
        </div>

        <div class="small-12 medium-6 columns hide-for-small-only">
            <img data-interchange="[img/precios_image.png, small], [img/precios_image@2x.png, retina]" alt="" width="582">
        </div>
    </section>

    <section class="cupones align-middle row">

        <div class="small-12 medium-6 columns">
            <img data-interchange="[img/cupones_image.png, small], [img/cupones_image@2x.png, retina]" alt="" width="542">
        </div>

        <div class="cupones-content small-12 medium-5 large-4 columns end">
            <img data-interchange="[img/ico-cupones.png, small], [img/ico-cupones@2x.png, retina]" alt="" width="50">
            <h3 class="subtitle">Cupones personalizados</h3>
            <p>¡Disfruta de grandes descuentos cada semana!<br>Utiliza todos los cupones que quieras en cada compra, es muy fácil. Elige tus productos favoritos y  pasa la tarjeta digital por caja para canjear tus cupones.</p>
            <p><a href="/cupones.php" title="Cupones de la semana">Ver cupones de la semana</a></p>
        </div>
    </section>

    <section class="rasca align-middle row">

        <div class="small-12 medium-6 columns text-right image-content">
            <img data-interchange="[img/rasca_image.png, small], [img/rasca_image@2x.png, retina]" alt="" width="348">
        </div>

        <div class="rasca-content small-12 medium-5 large-4 columns end">
            <img data-interchange="[img/ico-rasca.png, small], [img/ico-rasca@2x.png, retina]" alt="" width="50">
            <h3 class="subtitle">Rasca Plus</h3>
            <p>¡Con Lidl Plus tus compras te pueden salir gratis!<br>Identifícate en caja con tu App al comprar y podrás ganar un cupón por el valor de la compra. Y si no te toca tranquilo, hay cientos de cupones de descuento más cada día.</p>
        </div>
    </section>

    <section class="tickets align-middle row">

        <div class="small-12 medium-6 columns show-for-small-only">
            <img data-interchange="[img/tickets_image.png, small], [img/tickets_image@2x.png, retina]" alt="" width="461">
        </div>

        <div class="tickets-content small-10 small-offset-1 medium-5 large-4 large-offset-2 columns">
            <img data-interchange="[img/ico-tickets.png, small], [img/ico-tickets@2x.png, retina]" alt="" width="42">
            <h3 class="subtitle">Historial de tickets</h3>
            <p>¡Se acabó perder los tickets! Identifícate en caja con tu App y guardaremos tus tickets de compra en el apartado HISTORIAL DE TICKETS. Encuéntralo en el icono Más del menú de tu App.</p>
        </div>

        <div class="small-12 medium-6 columns hide-for-small-only">
            <img data-interchange="[img/tickets_image.png, small], [img/tickets_image@2x.png, retina]" alt="" width="461">
        </div>
    </section>

    <section class="tarjeta align-middle row">

        <div class="small-12 medium-6 columns">
            <img data-interchange="[img/tarjeta_digital.png, small], [img/tarjeta_digital@2x.png, retina]" alt="" width="625">
        </div>

        <div class="tarjeta-content small-12 medium-5 large-4 columns end">
            <img data-interchange="[img/ico-tarjeta.png, small], [img/ico-tarjeta@2x.png, retina]" alt="" width="50">
            <h3 class="subtitle">Tarjeta Lidl Plus</h3>
            <p>Además, usar los beneficios del programa es muy fácil, solo tendrás que identificarte en caja con la tarjeta digital de cliente que encontrarás en tu App, es rápido y cómodo.</p>
        </div>
    </section>

    <section class="folletos align-middle row">

        <div class="small-12 medium-6 columns text-right">
            <img data-interchange="[img/folletos_home.png, small], [img/folletos_home@2x.png, retina]" alt="" width="492">
        </div>

        <div class="folletos-content small-12 medium-5 large-4 columns end">
            <img data-interchange="[img/ico-folleto.png, small], [img/ico-folleto@2x.png, retina]" alt="" width="50">
            <h3 class="subtitle">Folletos semanales</h3>
            <p>Ten a mano siempre que quieras los catálogos online de ofertas semanales sin salir de la App y sé el primero en enterarte de todas nuestras ofertas.</p>
        </div>
    </section>


    <section class="descarga expanded align-middle align-center row">

        <div class="small-10 small-offset-1 columns text-center">
            <img data-interchange="[img/ico-lidlplus.png, small], [img/ico-lidlplus@2x.png, retina]" alt="Lidl Plus" width="158"><br class="show-for-small-only">

            Descárgate ahora tu aplicación <br class="show-for-small-only">Lidl Plus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br class="show-for-small-only"><br class="show-for-small-only">

            <a href="https://play.google.com/store/apps/details?id=com.lidl.eci.lidlplus.es" target="_blank" class="android google-download"><img src="img/google-play-badge.png" alt="Disponible en Google Play" width="135"></a><br class="show-for-small-only"><br class="show-for-small-only">
            <a href="https://itunes.apple.com/us/app/lidl-plus-zaragoza/id1133864850?ls=1&mt=8" target="_blank" class="ios ios-download"><img src="img/Download_on_the_App_Store_Badge_ES_135x40.svg" alt="Consíguelo en el App Store"></a>
        </div>
    </section>
