---
layout: others
class: faqs
politica-cookies: true
title: Protección de datos
---


    <section class="row">

        <div class="content small-10 small-offset-1 columns end">
            <p>Muchas gracias por tu interés en Lidl Plus.</p>
            <p>Lidl Plus es un programa internacional de fidelización de clientes gestionado por Lidl Stiftung & Co. KG ("Lidl Stiftung"), que recoge y trata como responsable los datos necesarios para los fines del programa de fidelización de clientes. </p>
            <p>Al grupo empresarial Lidl pertenecen también diversas sociedades. Puedes consultar el listado siempre actualizado de las sociedades en la siguiente dirección web www.lidlplus.es/empresas, así como Lidl E-Commerce International GmbH & Co. KG (las "Sociedades Lidl“).</p>
            <p>Con Lidl Plus puedes disfrutar de múltiples servicios adaptados a ti. Comprenden, entre otros, las ofertas adecuadas especialmente a tus necesidades y deseos, la participación en sorteos, rebajas exclusivas  y campañas especiales. Dependiendo de dónde y en qué medida utilices los Servicios de Lidl Plus, Lidl Stiftung transmitirá tus datos a otras sociedades del grupo Lidl, ya constituidas y por constituir (puedes consultar el listado actualizado en www.lidlplus.es/empresas) para poder facilitarte los correspondientes Servicios.</p>
            <p>Mediante la aceptación de estas condiciones, el usuario consiente expresamente la cesión o comunicación de los datos incluidos en el fichero o ficheros que se detallan, a las empresas del grupo Lidl con las mismas finalidades que se indican aquí para la recogida de datos.</p>

            <h3>1. ¿Qué datos recogemos y qué canales de comunicación utilizamos para ello? </h3>
            <p><strong>Registro en Lidl-Plus</strong></p>
            <p>Dentro del marco del registro solicitamos los siguientes datos: tratamiento/sexo, nombre, apellido, dirección (calle, número, código postal, ciudad y país), tiendas de Lidl preferidas, fecha de nacimiento, dirección de correo electrónico, número de teléfono móvil.</p>
            <p><strong>Visitas a la tienda</strong></p>
            <p>Si seleccionas la WI-FI de la tienda mediante su dispositivo móvil, mediante geolocalización registramos el lugar donde se encuentra en la tienda a la que has acudido, así como la hora y la duración de la conexión WI-FI. Además, durante una conexión a la red WI-FI  de nuestra tienda, obtenemos mediante geolocalización tus datos de posición para averiguar ante qué productos te has detenido. Finalmente, registramos la dirección MAC de tu dispositivo móvil y lo asociamos a tu cuenta de cliente.</p>
            <p>Cuando durante tu visita a la tienda te identificas en la caja, registramos la tienda a la que has acudido, el tipo, la cantidad y el precio de los productos adquiridos, los cupones canjeados, la suma de bonos así como el momento del proceso de pago y los tipos de medios de pago utilizados. Asociando tus compras a tu cuenta de cliente perseguimos los fines indicados en el apartado 1, tales como poder brindarte ofertas especiales adaptadas a tus intereses y preferencias, así como la participación en campañas.</p>
            <p>Te identificas de modo activo en la caja mediante la tarjeta de cliente, digital o física, canjeando un cupón personalizado para Usted o utilizando las funciones de Cupones o de auto-escaneado del App de Lidl-Plus. </p>
            <p>Utilizando el terminal de la tienda, registramos la tienda a la que has acudido, las horas de acceso y de desconexión así como las funciones de impresión de descuentos realizadas, según lugar y momento. </p>
            <p>Además, es posible identificarte sin tu participación activa siempre que efectúes con una tarjeta de crédito, que esta tarjeta esté asociada con nosotros a un número de cliente y que mediante la dirección MAC de tu dispositivo móvil hayamos registrado su estancia concreta en nuestra tienda. Utilizaremos determinadas cifras del número abreviado de la tarjeta de crédito utilizada (aquellas que aparecen en los tickets de compra) y la dirección MAC de su dispositivo móvil. Si utilizas una tarjeta de crédito conjuntamente con otra persona, tu compra se asignará eventualmente a esta persona.</p>
            <p>Si no deseas que se te identifique sin su intervención y que con ello se asigne automáticamente su compra a su cuenta de cliente, puedes deshabilitar la función de WI-FI de su dispositivo móvil en cuanto que entres en nuestras tiendas.</p>
            <p><strong>Servicio de atención al cliente</strong></p>
            <p>Cuando contactas con nuestro servicio de atención al cliente te solicitaremos la número de cliente Lidl Plus. Si te identificas como cliente Lidl Plus guardaremos tus datos sobre cualesquiera quejas o reclamaciones que realices en tu cuenta de Lidl Plus, con la finalidad de enviarte mejores ofertas que se acercan más a tus intereses. Así evitamos, por ejemplo, que en el futuro no recibas informaciones y ofertas de productos que not e interesan. Puedes evitar u oponerte a la conexión entre tu solicitud a nuestro servicio de atención al cliente con el programa Lidl Plus no facilitando tu número de cliente Lidl Plus en el momento que nuestro operador de Atención al Cliente se lo solicite. </p>
            <p><strong>Uso de la App</strong></p>
            <p>Al utilizar la App de Lidl Plus registramos la tienda en la que compras. Al utilizar la lista de compra digital recopilamos, además, el tipo y el volumen de los productos que has señalado en ella, la hora de utilización, los cupones que se han mirado y activado, el historial de auto-escaneo, tu modo de señalar con un clic y las tiendas elegidas.</p>
            <p>Tus datos se recogerán y utilizarán para realizar el acceso. Para que no tengas que iniciar sesión cada vez que abras la App, tus datos de acceso se guardarán encriptados en la App hasta que salgas de su cuenta.</p>
            <p><strong>Visitas Online</strong></p>
            <p>Cuando te mueves por las páginas web del grupo empresarial Lidl, registramos tu comportamiento de usuario, los almacenamos y si es posible lo asociamos a tu persona o bien a tu dirección de correo electrónico o número de cliente. Con ello registramos las páginas web visitadas del grupo empresarial Lidl, la frecuencia y la duración de su visita, las áreas marcadas y los productos elegidos.</p>

            <p><strong>Política de cookies para la web lidlplus.es</strong></p>
            <p><em>¿Qué son las cookies y cómo se utilizan?</em></p>
            <p>Se utilizan "cookies", y otros mecanismos similares (en adelante, cookies) para que su visita sea lo más agradable y cómoda posible. Las cookies son pequeños fragmentos de información enviados desde un servidor web particular a un navegador web, lo que permite al servidor compilar información del navegador. Esto permite al navegador de su ordenador acceder a la información de nuestro servidor web de forma más rápida y eficiente. La primera finalidad de las cookies es la de facilitar al usuario un acceso más rápido a los servicios seleccionados. Además, las cookies personalizan los servicios que puedan ofrecer las webs de LIDL, facilitando y ofreciendo a cada usuario información que es de su interés o que puede ser de su interés, en atención al uso que realiza de los servicios.</p>
            <p>Algunas de ellas están diseñadas únicamente para poner nuestro sitio web a su disposición y se instalan directamente en su PC sin requerir su consentimiento. Otras cookies solo se guardarán previo consentimiento del usuario. El usuario podrá configurar su navegador para que notifique y rechace la instalación de las cookies enviadas por LIDL. Sin embargo, le hacemos notar que, en todo caso, la calidad de funcionamiento de la página web puede disminuir.</p>
            <p><em>Tipología, finalidad y funcionamiento de las cookies</em></p>
            <p>Las cookies, en función de su permanencia, pueden dividirse en cookies de sesión o permanentes. Las primeras expiran cuando el usuario cierre el navegador. Las segundas expiran en función cuando se cumpla el objetivo para el que sirven o bien cuando se borran manualmente.</p>
            <p>Adicionalmente, en función de su objetivo, las cookies puedes clasificarse de la siguiente forma:</p>
            <p><strong>COOKIES DE RENDIMIENTO:</strong> Este tipo de cookie recuerda sus preferencias para las herramientas que se encuentran en los servicios, por lo que no tiene que volver a configurar el servicio cada vez que usted visita.</p>
            <p><strong>COOKIES DE ANALÍTICAS:</strong> Cada vez que un usuario visita un servicio, una herramienta de un proveedor externo genera una cookie analítica en el ordenador del usuario. Esta cookie que solo se genera en la visita, servirá en próximas visitas a los servicios de LIDL ESPAÑA para identificar de forma anónima al visitante. Los objetivos principales que se persiguen son:</p>
            <ul>
                <li>Permitir la identificación anónima de los usuarios navegantes a través de la "cookie" (identifica navegadores y dispositivos, no personas) y por lo tanto la contabilización aproximada del número de visitantes y su tendencia en el tiempo.</li>
                <li>Identificar de forma anónima los contenidos más visitados y por lo tanto más atractivos para los usuarios</li>
                <li>Saber si el usuario que está accediendo es nuevo o repite visita.</li>
            </ul>
            <p>Importante: Salvo que el usuario decida registrarse en un servicio de LIDL, la "cookie" nunca irá asociada a ningún dato de carácter personal que pueda identificarle. </p>
            <p>Dichas cookies sólo serán utilizadas con propósitos estadísticos que ayuden a la optimización de la experiencia de los usuarios en las webs de LIDL.</p>
            <p>Las aplicaciones utilizadas para obtener y analizar la información de la navegación son:</p>
            <ol>
                <li>Google Tag Manager: http://tagmanager.google.com</li>
                <li>Google Analytics: http://www.google.com/analytics  y  http://www.google.com/intl/es/policies/privacy/</li>
                <li>Piwik: http://piwik.org</li>
                <li>Countly: https://count.ly/</li>
            </ol>
            <p><strong>Google Tag Manager:</strong> es un administrador de etiquetas desarrollado por Google. Este administrador de etiquetas es un servicio sin cookies que no recopila ninguna información que pueda identificar al usuario, pero gestiona otras etiquetas que sí podrían recopilar datos. En tal caso, esas etiquetas estarán especificadas en este mismo documento (por ejemplo, cookies de Google Analytics).</p>
            <p><strong>Google Analytics:</strong> Esta aplicación ha sido desarrollada por Google, que presta el servicio de análisis de la audiencia de nuestra página. Esta empresa puede utilizar estos datos para mejorar sus propios servicios y para ofrecer servicios a otras empresas. Puede conocer esos u otros usos desde los enlaces indicados.</p>
            <p>Esta herramienta no obtiene datos de los nombres o apellidos ni de la dirección postal desde donde se conectan ni cualquier otro dato personal identificativo del usuario.</p>
            <p>La información que obtiene está relacionada con el número de páginas visitadas, el idioma, red social en la que se publican nuestras noticias, la ciudad a la que está asignada la dirección IP desde la que acceden los usuarios, el número de usuarios que nos visitan, la frecuencia y reincidencia de las visitas, el tiempo de visita, el navegador que usan, el operador o tipo de terminal desde el que se realiza la visita. Esta información la utilizamos para mejorar nuestras páginas, detectar nuevas necesidades y valorar las mejoras a introducir con la finalidad de prestar un mejor servicio a los usuarios que nos visitan, adaptándolas por ejemplo a los navegadores o terminales más utilizados.</p>
            <p>Si desea deshabilitar la funcionalidad de trazabilidad de google analytics tiene a su disposición la siguiente herramienta:</p>
            <p>https://tools.google.com/dlpage/gaoptout</p>
            <p>Se informa que, el código fuente de Google Analytics se ha adaptado para poner a su disposición la anonimización de las direcciones IP por medio de la opción "anonymizeIP" y, en consecuencia, no se guardarán las direcciones IP.</p>
            <p><strong>Piwik:</strong> Es un paquete de software de análisis web, que proporciona reportes detallados del comportamiento de los visitantes de los sitios web en tiempo real, incluyendo el número de visitas, páginas más vistas, motores de búsqueda y palabras claves más utilizadas, la procedencia de los visitantes, qué páginas son visitadas, los archivos que descargan, entre otros parámetros necesarios para el análisis del tráfico de la web. </p>
            <p><strong>Countly:</strong> es una herramienta de análisis web y mobile que proporciona información en tiempo real del comportamiento de los visitantes en las aplicaciones móviles y sitios webs incluyendo el número de visitas a las secciones, clicks realizados y/o tiempo de uso, entre otros datos.</p>
            <p><em>Cómo deshabilitar las cookies en los principales navegadores:</em></p>
            <p>Normalmente es posible dejar de aceptar las cookies del navegador, o dejar de aceptar las cookies de un servicio en particular.</p>
            <p>Todos los navegadores modernos permiten cambiar la configuración de cookies. Estos ajustes normalmente se encuentran en las 'Opciones' o 'Preferencias' del menú de su navegador.</p>
            <p>Las webs de LIDL ESPAÑA ofrecen orientación al usuario sobre los pasos para acceder al menú de configuración de las cookies y, en su caso, de la navegación privada en cada uno de los navegadores principales:</p>
            <ul>
                <li>
                    <strong>Internet Explorer:</strong> Herramientas -> Opciones de Internet -> Privacidad -> Configuración.<br>
                    Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador:<br>
                    http://windows.microsoft.com/es-ES/windows/support#top-solutions=windows-xp
                </li>
                <li>
                    <strong>Firefox:</strong> Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada.<br>
                    Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador:<br>
                    http://support.mozilla.org/es/home
                </li>
                <li>
                    <strong>Chrome:</strong> Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.<br>
                    Para más información, puede consultar el soporte de Google o la Ayuda del navegador:<br>
                    https://support.google.com/chrome/?hl=es#topic=3227046
                </li>
                <li>
                    <strong>Safari:</strong> Preferencias -> Seguridad.<br>
                    Para más información, puede consultar el soporte de Apple o la Ayuda del navegador:<br>
                    http://www.apple.com/es/support/mac-apps/safari/
                </li>
            </ul>
            <p><em>Qué ocurre si se deshabilitan las cookies:</em></p>
            <p>Algunas funcionalidades de los Servicios quedarán deshabilitados.</p>
            <p><em>Actualizaciones y cambios en la Política de cookies:</em></p>
            <p>Las webs de LIDL pueden modificar esta Política de cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por ello se aconseja a los usuarios que la visiten periódicamente.</p>
            <p>Cuando se produzcan cambios significativos en esta Política de cookies, se comunicarán a los usuarios bien mediante las webs o a través de correo electrónico a los usuarios registrados.</p>

            <p><strong>Boletines informativos/Notificaciones Push/ SMS</strong></p>
            <p>Registramos además tus costumbres de Usuario con respecto a los boletines informativos y otras informaciones que te enviamos como Notificaciones Push o SMS, lo almacenamos y si es posible lo asociamos a su persona o bien a su dirección de correo electrónico o número de cliente. Registramos la hora de apertura y los enlaces que ha activado, las áreas pulsadas, los productos seleccionados, la hora, la duración y la frecuencia de uso.</p>

            <h3>2. ¿Con qué fines recogemos, tratamos y utilizamos tus datos personales? </h3>
            <p><strong>Con objeto de comunicación e identificación</strong></p>
            <p>Los datos de cliente obtenidos en el marco del registro sirven para comunicarnos contigo, así como para asociar de manera clara tus hábitos de compra y de usuario a tu perfil de cliente. </p>
            <p>En el curso del registro preguntamos, entre otras cosas, tu fecha de nacimiento (v. apartado 3, anterior). Es necesaria una edad mínima de 16 años para su participación (v. apartado 2 de las condiciones de participación). Por razones de protección de menores, existen límites de edad para la publicidad de determinados productos. Así por ejemplo, la publicidad de bebidas alcohólicas no puede dirigirse a menores de edad. </p>
            <p><strong>Con objeto de determinar los productos que le interesan</strong></p>
            <p>Para poder presentarte ofertas lo más personalizadas posibles y realizar encuestas precisas, quisiéramos conocerte mejor. Para ello determinamos primero qué productos, campañas y servicios podrían ser interesantes y relevantes para ti. De este modo podemos indicarte, por ej., campañas de rebajas de tus productos preferidos, ofrecerte precios especialmente ventajosos e informarte de manera precisa y atractiva dentro del marco de las campañas de gamas de productos.</p>
            <p>Por este motivo recogemos, tratamos y utilizamos una serie de datos personales acerca de sus hábitos de compra. </p>
            <p>Los datos personales que recopilamos pueden ser útiles para establecer tus intereses en productos. Se incluyen todos los datos indicados en el Punto 1.</p>
            <p>Pero los otros datos indicados podrían informar también sobre tus potenciales intereses en productos. Para ello, determinamos una posible relación entre uno o varios datos personales e intereses en productos. Para determinar esta relación utilizamos métodos matemáticos de estadística, comprando tus datos con los de otros clientes. Con ayuda de esta comparación podemos deducir qué otros productos y campañas por los que se hayan interesado clientes similares también podrían interesarte. </p>
            <p><strong>Con objeto de presentar publicidad en lugar y tiempo</strong></p>
            <p>Tratamos y utilizamos tus datos personales con respecto al lugar y al momento de tus compras con el fin de hacerte llegar en su lugar y a tiempo la publicidad, por ej. mediante Notificaciones Push a teléfono móvil o mediante SMS. Si tu día de compras preferido cae por ejemplo en sábado, te podemos informar en especial de las campañas activas este día de la semana. Además, estamos en condiciones de presentarte una oferta específica para tu localidad, siempre que estemos informados de en qué localidad prefiere usted comprar.</p>

            <h3>3. ¿A quién transmitimos tus datos personales?</h3>
            <p>Facilitamos tus datos personales a los siguientes Terceros:</p>
            <p>Para el tratamiento de tus datos utilizamos en parte proveedores de servicios externos. Las empresas que trabajan con nosotros se seleccionan cuidadosamente y se contratan por escrito. Están obligadas a seguir nuestras indicaciones y las controlamos antes del comienzo del tratamiento de datos y posteriormente con regularidad. Estas empresas no utilizan nunca para fines propios tus datos personales.</p>
            <p>En este contexto, transmitimos tus datos a receptores que </p>
            <ul>
                <li>nos facilitan capacidad de almacenamiento, sistemas de bancos de datos y similares,</li>
                <li>nos brindan apoyo técnico y </li>
                <li>nos asesoran en técnicas de marketing. </li>
            </ul>
            <p>Dentro del grupo empresarial Lidl (v. sección 1, arriba) transmitimos tus preferencias de productos con objeto de presentar de un modo preciso los contenidos considerados importantes para ti a la sociedad del grupo Lidl correspondiente. </p>
            <p>Bajo ninguna circunstancia facilitamos tus datos personales a otras empresas fuera del grupo empresarial Lidl que pudieran utilizarlos para medidas de marketing directo. </p>

            <h3>4. ¿Cómo garantizamos la confidencialidad de tus datos personales?</h3>
            <p>Para garantizar	la confidencialidad de tus datos personales, nuestros empleados y/o encargados del tratamiento de datos tienen prohibido registrar, tratar o utilizar datos personales no autorizados. Nuestros empleados cuidadosamente seleccionados y sensibilizados con la protección legal de datos personales se comprometen mediante contrato al inicio de su relación laboral a mantener el secreto de los datos. </p>

            <h3>5. ¿Cómo garantizamos la seguridad de los datos relativos a tu persona?</h3>
            <p>La seguridad de tus datos es muy importante para nosotros. Por tanto, mantenemos medidas técnicas y de tipo organizativo para proteger tus datos personales frente a riesgos en la transmisión de datos así como para evitar que caigan en manos de terceros. Las precauciones tomadas se adaptan con regularidad al estado de la técnica.</p>

            <h3>6. ¿Qué derechos tienes para proceder contra el registro, el tratamiento y la utilización de sus datos?</h3>
            <p>Naturalmente, si lo solicitas te informaremos sobre los datos personales guardados, el receptor o las categorías de receptores a los que se transmiten los datos y el objeto del almacenamiento. Esta información es naturalmente gratuita.</p>
            <p>Además, tienes derecho a la rectificación de los datos incorrectos así como a la cancelación, siempre que en este caso no exista de modo excepcional un bloqueo, por ejemplo si existe la obligación legal de custodiarlos.</p>
            <p><strong>Derechos ARCO</strong></p>
            <p>En cualquier momento podrás solicitar darte de baja del programa Lidl Plus. </p>
            <p>A tal efecto, te informamos que podrás ejercer tus derechos de acceso, rectificación, cancelación y oposición a datos personales ante LIDL, dirigiendo tu petición a la dirección Lidl Supermercados, S.A.U, c/ Beat Oriol s/n, Polígono Industrial La Granja, 08110 Montcada y Reixac, España, o a la dirección de correo electrónico "protecciondedatos@lidl.es".</p>
            <p>Lidl se encargará de comunicar y gestionar el ejercicio de tus derechos con el resto de empresas del Grupo Lidl indicadas en las presentes condiciones.</p>
            <p>Asimismo, las comunicaciones comerciales que te remitamos por medios electrónicos también incluirán un sistema, sencillo y gratuito, por el cual podrás pedirnos que no te enviemos más comunicaciones comerciales</p>

            <h3>7. Autorización</h3>
            <p>Para poder utilizar sin limitaciones los Servicios de Lidl Plus es necesario que nos autorices para determinadas formas de tratamiento de sus datos. La autorización es la siguiente:</p>
            <p>Si te registras en Lidl Plus recibirás información personalizada acerca de campañas, ofertas actuales y podrás participar en encuestas</p>
            <ul>
                <li>Acepto condiciones de uso, protección de datos, aviso legal</li>
                <li>Deseo recibir información de otros servicios y productos de Lid, distintos del programa Lidl Plus, por email y sms</li>
            </ul>
            <p>Puedes cancelar tus datos en cualquier momento a través de protecciondedatos@lidl.es</p>

            <h3>8. ¿Puede modificar Lidl Plus las indicaciones sobre protección de datos?</h3>
            <p>Un cambio de las indicaciones sobre protección de datos puede ser necesario en caso de modificación de las condiciones legales o de las circunstancias del tratamiento de datos de Lidl Plus. Si cambiaran los fines de obtención, tratamiento y utilización de sus datos personales así como las categorías de receptores, te informaremos al respecto y si fuera necesario solicitaríamos su autorización.</p>


            <br><br>
            <h3>CONDICIONES GENERALES DE USO DEL SERVICIO WIFI KUBIWIRELESS</h3>
            <p>Contrato de Prestación de Servicios de Acceso a Internet suscrito entre KubiWireless (marca de Eurona Wireless Telecom S.A., de ahora en adelante KUBI) y el usuario que los contrata, de ahora en adelante USUARIO.</p>
            <ol>
              <li>KUBI facilitará al USUARIO provisto de un dispositivo con tecnología Wifi un acceso inalámbrico a Internet</li>
              <li>El acceso inalámbrico se facilitará a través de un código de usuario y contraseña de acceso 	al servicio. Es responsabilidad del usuario conservar los códigos para el uso del servicio.</li>
              <li>Los servicios contratados permiten el acceso inalámbrico a Internet en cualquiera de las 	tiendas Lidl adscritas al programa Lidl Plus, a través de los códigos facilitados en el 	momento del alta.</li>
              <li>
                <p>No existe relación o asociación de ninguna clase entre KUBI y ningún sitio web o con los 	titulares de los sitios web a los que el USUARIO acceda por medio de los Servicios 	prestados por KUBI, por lo que KUBI no asume responsabilidad alguna del contenido, 	funcionalidad, utilidad, fiabilidad, exactitud, ni de los contenidos incluidos en las páginas 	web a las que se conecte el USUARIO, las cuales son sitios web pertenecientes a sociedades 	independientes sin que exista asociación o relación alguna con KUBI.</p>
                <p>KUBI no puede visualizar previamente ningún contenido incluido en cualquier página web, 	tampoco puede editar, suprimir, modificar, eliminar, controlar, revisar ni restringir el 	acceso a ningún contenido incluido en cualquier página web previamente a su transmisión 	al USUARIO, por lo que KUBI no garantiza que los contenidos de las páginas web a las que 	se acceda a través de los Servicios prestados por KUBI vayan a estar constantemente 	actualizados, que vayan a ser conformes a la ley, a la moral, buena fe y/o a las buenas 	costumbres, su exactitud, licitud, veracidad y/o exhaustividad, o que vayan a ser útiles para 	el USUARIO o que no vayan a contener ninguna clase de error, por todo lo cual, KUBI no se 	responsabiliza de ningún daño y/o perjuicio y/o beneficios dejados de obtener por el 	USUARIO o cualquier otro tercero que no sean imputables única y exclusivamente a la 	propia KUBI, así como tampoco cuando el USUARIO o las personas de las que éste deba 	responder sean las culpables de tales daños y perjuicios, o bien cuando el USUARIO se vea 	perjudicado a consecuencia de cualquier contenido, información, opinión, manifestación 	y/o dato al que el USUARIO o cualquier otro tercero acceda o adquiera por medio de 	cualquier página web a la que se haya accedido a través de los Servicios prestados por 	KUBI.</p>
                <p>A pesar de que realizará todos los esfuerzos técnicos y organizativos necesarios, KUBI no 	garantiza que los Servicios prestados vayan a funcionar con seguridad absoluta, constante, 	fiable y permanentemente, sin retrasos o interrupciones por lo que KUBI no se 	responsabiliza por ningún daño y/o perjuicio y/o beneficios dejados de obtener por el 	USUARIO o cualquier otro tercero que se vea perjudicado a consecuencia de los mismos así 	como tampoco por cualquier circunstancia de fuerza mayor, caso fortuito, fallo o error de 	las líneas de comunicación, o de la prestación defectuosa o fallo de la red Wifi.</p>
                <p>KUBI no será responsable de ningún daño o perjuicio ocasionado a ningún USUARIO o a 	terceros, ni por ganancias dejadas de obtener por ningún USUARIO y/o tercero, causados 	directa o indirectamente de la utilización y/o acceso y/o conexión a los Servicios prestados 	por KUBI y/o a páginas web a ellos enlazadas, no siendo por tanto responsable por ningún 	daño y/o perjuicio ocasionado a ningún USUARIO y/o a terceros, ni por ganancias dejadas 	de obtener por ningún USUARIO y/o terceros a causa del funcionamiento incorrecto, 	defectos, fallos y/o daños causados, totales y/o parciales, a todo hardware, software y/o 	programas informáticos pertenecientes al USUARIO y/o terceros, así como de la pérdida, 	alteración y/o daños, totales y/o parciales sobre información contenida en soportes 	magnéticos, discos, cintas, disquetes y otros pertenecientes al USUARIO y/o terceros, así 	como por la introducción de virus informáticos o de variaciones o alteraciones no deseadas 	sobre toda información, documentos, ficheros, bases de datos, hardware y/o software 	pertenecientes al USUARIO y/o terceros.</p>
                <p>KUBI no se responsabiliza por ningún daño y/o perjuicio y/o ganancias dejadas de obtener 	ocasionadas a cualquier tercero por la utilización de sus datos bancarios sin su 	consentimiento por parte de cualquier USUARIO que contrate los servicios prestados por 	KUBI.</p>
              </li>
              <li>
                <p>El USUARIO accederá y utilizará los Servicios prestados por KUBI, absteniéndose de 	realizar, por cualquier forma y medio, ninguna clase de acto y/u omisión ilegal y/o que 	suponga cualquier clase de daño y/o perjuicio a KUBI, a terceros y/o al resto de usuarios, o 	que represente ningún daño y/o violación o intento de daño y/o violación al sistema o 	infraestructura de KUBI, así como de su sistema de seguridad. En tales casos, KUBI quedará 	exonerado de cualquier responsabilidad, reservándose el derecho de, inmediatamente y sin 	previo aviso, restringir, prohibir, suspender, finalizar y/o denegar, temporal o 	definitivamente, parcial o totalmente, a dicho USUARIO o a cualquier tercero que a criterio 	de KUBI actúe en nombre del USUARIO, el acceso a los Servicios prestados por KUBI.</p>
                <p>El USUARIO es responsable de la veracidad y exactitud de la información y datos 	personales facilitados a KUBI en el momento de utilizar los Servicios prestados por KUBI. 	KUBI no será responsable en el supuesto de falsedad en la información y datos personales 	proveídos por el USUARIO. En cualquier caso, el USUARIO declara expresamente ser mayor 	de 16 años.</p>
                <p>El USUARIO será responsable por todos los daños y/o perjuicios que tanto por dolo como 	por negligencia o culpa ocasione a KUBI y/o a terceros en el cumplimiento del presente 	contrato.</p>
              </li>
              <li>A los efectos de lo que dispone el artículo 5 de la Ley 15/1999, de 13 de diciembre de 	Protección de Datos de Carácter Personal, por el que se regula el derecho de información 	en la recogida de datos, le informamos que tus datos personales facilitados, siempre 	voluntariamente por parte del USUARIO, para utilizar los Servicios prestados por KUBI, 	quedarán incorporados y serán tratados en un fichero titularidad de KUBI con el fin de 	poder prestar, ofrecer y dar trámite a los servicios al usuario. </li>
              <li>Las partes se someten para la solución de cualquier controversia derivada de la 	interpretación y/o ejecución del presente contrato, a la Jurisdicción de los Juzgados y 	Tribunales de la ciudad correspondiente al domicilio del usuario. En todo caso, será de 	aplicación la ley española.</li>
              <li>Con el fin de garantizar el buen funcionamiento del servicio KUBI al conjunto de los 	usuarios, KUBI priorizará el trafico de otras aplicaciones frente al tráfico originado por 	aplicaciones tipo peer to peer de intercambio masivo de ficheros (como por ejemplo Emule, 	Kazaa, BitTorrent, etc), por lo que dichas aplicaciones pueden no funcionar en la red de 	hotspots de KUBI o su sesión puede sufrir interrupciones si está utilizando aplicaciones 	como las arriba mencionadas.</li>
              <li>Lidl se reserva el derecho a limitar o restringir el acceso a determinadas páginas web que 	por su contenido se pueda considerar inapropiado consultar desde sus propias 	instalaciones o cuyo contenido pueda generar alguna controversia tal y como son, a título 	enunciativo y no limitativo, páginas web que contengan material pornográfico, ofensivo, 	racista, discriminatorio o que pueda generar algún riesgo para la seguridad.</li>
              <li>Las declaraciones, disposiciones y exenciones de responsabilidad establecidas en los 	apartados 3 y 4 anteriores en relación con KUBI, serán también de aplicación a terceros 	afectados por el uso de la red Wi-Fi antes mencionada. Del mismo modo, las obligaciones y 	la responsabilidad contraídas por el USUARIO en dichos apartados serán también exigibles 	para dichos terceros.</li>
            </ol>
        </div>

    </section>
