---
layout: default
class: mensaje
---



    <header class="header row">
        <h1>Lidl Plus - Reestabler cuenta</h1>
        <div class="menu-button hide-for-large" data-open="menu"><button class="menu-icon" type="button"><span class="show-for-sr">Open menu</span></button></div>
    </header>

    <section class="row text-center">
        <h2 class="title small-12 columns error">Enlace caducado</h2>
        <div class="image small-12 columns">
            <img data-interchange="[img/link-caducado.png, small], [img/link-caducado@2x.png, retina], [img/link-caducado@2x.png, medium], [img/link-caducado@2x.png, large]" alt="" width="152">
        </div>

        <div class="content small-12 columns">
            <p>Lo sentimos, el enlace para restablecer tu cuenta a caducado.</p>
            <p><a href="/">Volver a la página principal</a></p>
        </div>

    </section>
